@page "/"
@using Team12.Data

<h1>Mitarbeitendenübersicht, Team 12</h1>

<p>Hier finden sich bald noch mehr Informationen</p>
<p>In der Zwischenzeit die <a href="fetchdata">Wettervorhersage</a> anschauen.:</p>
<p>Oder eine Übersicht der <a href="/skill">Skills</a> betrachten</p>
<p><b>Hier sind alle am Projekt beteiligten Mitarbeiter zu sehen:</b></p>

<div class="card-deck">
    <EmployeeShortcard Worker="@(new Employee() {Vorname ="Anton", Nachname = "Huber", PrevProjects = new string[] {"none"}, Geburtstag=DateTime.Parse("28.05.1998")})" />

    <EmployeeShortcard Worker="@(new Employee() {Vorname ="Tobias", Nachname = "Mayr", PrevProjects = new string[] {"none"}, Geburtstag=DateTime.Parse("11.12.1999")})" />

    <EmployeeShortcard Worker="@(new Employee() {Vorname ="Victoria", Nachname = "Kuch", PrevProjects = new string[] {"none"}, Geburtstag=DateTime.Parse("16.03.2000")})" />

    <EmployeeShortcard Worker="@(new Employee() {Vorname ="Alexander", Nachname = "Kaistra", PrevProjects = new string[] {"none"}, Geburtstag=DateTime.Parse("19.11.1998")})" />

    <EmployeeShortcard Worker="@(new Employee() {Vorname ="Ismail", Nachname = "Gürsöz", PrevProjects = new string[] {"none"}, Geburtstag=DateTime.Parse("09.11.1997")})" />
</div>


@code {
    
} 