@page "/skill/edit"
@page "/skill/edit/{Id}"
@using Microsoft.Extensions.Logging
@using Team12.Data
@using Microsoft.AspNetCore.Components.Forms
@inject ISkillService _skillService


<h3>EditSkill</h3>

@if (Id == 0)
{<EditForm Model="@skill" OnInvalidSubmit="@NeuerSkill">
        <div class="form-group">
            <label for="exampleFormControlInput1">Skillname</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Geben Sie bitte einen Skillnamen ein" @bind-value="skill.Name">
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="flexCheckDefault" @bind-value="@skill.SkillType">
            <label class="form-check-label" for="flexCheckDefault">
                HardSkill
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" @bind-value="@skill.SkillType" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
                SoftSkill
            </label>
        </div>
        <div class="form-check">
            <button type="submit" class="btn btn-outline-secondary">Speichern</button>
        </div>
    </EditForm>
}
else
{ <EditForm Model="@skill" OnInvalidSubmit="@SkillBearbeiten">
        <div class="form-group">
            <label for="exampleFormControlInput1">Skillname</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Geben Sie bitte einen Skillnamen ein" @bind-value="skill.Name">
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="flexCheckDefault" @bind-value="skill.SkillType">
            <label class="form-check-label" for="flexCheckDefault">
                HardSkill
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" @bind-value="skill.SkillType" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
                SoftSkill
            </label>
        </div>
        <div class="form-check">
            <button type="submit" class="btn btn-outline-secondary">Speichern</button>
        </div>
    </EditForm>

}

@code {
    [Parameter] public int Id { get; set; }

    Skill skill = new Skill();

    public void NeuerSkill()
    {
        _skillService.UpdateSkill(skill);
    }

    public void SkillBearbeiten()
    {
        skill.Id = Id;
        _skillService.UpdateSkill(skill);
    }
}
