@page "/BasicDataAbstract"
@using AVATI.Data

@inject IBasicDataService _basicDataService
@inject IHardskillService _hardskillService

<h1><b>Basisdaten</b> <small>Hier können Sie Basisdaten hinzugefügen, editieren und löschen</small></h1>
<hr />

<h3 class="cap"><b>Skills</b></h3>
<div class="form-group">
    <input class="form-control" type="text" placeholder="Filter..."
           @bind="Filter"
           @bind:event="oninput">
</div>
<table class="table table-striped">
    <caption><h5><b>Softskills</b></h5></caption>
    <tr>
        <th>Bezeichnung</th>
        <th>Bearbeiten</th>
        <th>Löschen</th>
    </tr>
    @foreach (string softskill in _basicDataService.GetAllSoftSkills())
    {
        @if (!IsVisible(softskill))
            continue;
        <tr>
            <td>@softskill</td>
            <td class="smalltd"><button class="btn btn-secondary" @onclick="() => PopEditSoftSkill(softskill)">Edit</button></td>
            <td class="smalltd"><button class="btn btn-dark" @onclick="() => PopDelete(softskill)">Delete</button></td>
        </tr>
    }
</table>
<EditSoftSkill @ref="_editSoftSkill" OldSoftSkill="@Description"/>
<DeleteConfirmation @ref="_deleteConfirmation" SoftSkill="@Description"/>
<CreateSoftSkill @ref="_createSoftSkill"/>
<div> <button class="btn btn-info" @onclick="PopCreateSoftSkill">Create</button> </div>

<table class="table table-striped">
    <caption><h5><b>Hardskills</b></h5></caption>
    <tr>
        <th>Bezeichnung</th>
        <th>Bearbeiten</th>
        <th>Löschen</th>
    </tr>
        
    @foreach (Hardskill hardskill in _hardskillService.GetAllHardskills())
    {
        <tr class="show">
            <td>@hardskill.Description</td>
            <td class="smalltd"><button class="btn btn-secondary">Edit</button></td>
            <td class="smalltd"><button class="btn btn-dark">Delete</button></td>
        </tr>
        
        <div class="hide"><ShowUpperCat Hardskill="@hardskill"/><a>@hardskill.Description</a></div>
    }
</table>
<div> <button class="btn btn-info">Create</button> </div>


@code {
    CreateSoftSkill _createSoftSkill;
    EditSoftSkill _editSoftSkill;
    DeleteConfirmation _deleteConfirmation;

    private string Filter { get; set; }
    
    string Description { get; set; }
    

    private bool IsVisible(string description)
    {
        if (string.IsNullOrEmpty(Filter))
            return true;

        if (description.Contains(Filter, StringComparison.OrdinalIgnoreCase))
            return true;

        return false;
    }

    void PopCreateSoftSkill()
    {
        _createSoftSkill.Showing();
    }

    void PopEditSoftSkill(string name)
    {
        Description = name;
        _editSoftSkill.Showing();
    }

    void PopDelete(string name)
    {
        Description = name;
        _deleteConfirmation.Showing();
    }

}