@using AVATI.Data

@inject IHardskillService _hardskillService
@inject NavigationManager _navigationManager


<div class="modal @(_show ? "fade show" : "" )" id="myModal" style=" display: @(_show ? "block" : "none");">
               <div class="modal-dialog">
                 <div class="modal-content">
                   <div class="modal-header">
                     <h4 class="modal-title">Ändere den Hardskill</h4>
                     <button type="button" class="close" data-dismiss="modal" @onclick="Showing">&times;</button>
                   </div>
                   <EditForm Model="@_newHardskill" OnValidSubmit="Update">
                     <div class="modal-body">
                       <label class="form-label">Bezeichnung:</label>
                       <InputText class="form-control" @bind-Value="@_newHardskill.Description"/>
                       <label class="form-label">Oberkategorie:</label>
                       <InputSelect class="form-control" @bind-Value="@Description">
                         <option value="">Keine Oberkategorie</option>
                         @foreach (var hardskillcat in _hardskillService.GetAllHardskillCategorys().Where(hardskillcat => hardskillcat.Height == 1))
                         {
                           <option value="@hardskillcat.Description">@hardskillcat.Description</option>
                         }
                       </InputSelect>
                     </div>
                   <div class="modal-footer">
                     <button type="submit" class="btn btn-primary">Save</button>
                     <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="Showing">Close</button>
                   </div>
                   </EditForm>
                 </div>
               </div>
          </div>
@if (_show)
{
  <div class="modal-backdrop fade show"></div>
}

@code {
  private bool _show = false;

  [Parameter] 
  public Hardskill OldHardskill{ get; set; }

  string Description { get; set; }

  private Hardskill _newHardskill = new();

  private void Update()
  {
    _newHardskill.Height = 0;
    _newHardskill.Subcat = null;
    
    _newHardskill.Uppercat = string.IsNullOrEmpty(Description) ? null : _hardskillService.GetHardskillCategory(Description);
    
    _hardskillService.UpdateHardskill(_newHardskill, OldHardskill);
    Showing();
    _navigationManager.NavigateTo(_navigationManager.Uri, true);
  }

  public void Showing()
  {
    _show = !_show;
    StateHasChanged();
  }
    
}