@page "/profile"
@page "/profile/{Id:int}"
@using AVATI.Data
@inject NavigationManager _navManager
@inject IEmployeeService _employee

<link href="css/Profile.razor.css" rel="stylesheet"/>
<h3>Profil</h3>
<!------ Include the above in your HEAD tag ---------->
<!------ Gets Employee with the same Id as the Router Parameter ---------->

<div class="container emp-profile">
<form>
<div class="row">
    <div class="col-md-4">
        <div style="margin-top: -25%" class="profile-img">
            <img src="https://www.geniale-tipps.de/images/t/whatsapp-profilbild-grau.jpg" style="margin-left: -45px" width="300" height="200" alt=""/>
        </div>
    </div>
    <div class="col-md-6">
        <div class="profile-head">
        </div>
    </div>

    <!------ Edit Profile Button ---------->
    <div class="col-md-2">
        <a href="/profile/update/@Emp.EmployeeId">
            <input type="submit" onsubmit="" class="profile-edit-btn" name="btnAddMore" value="Profil bearbeiten"/>
        </a>
    </div>
</div>

<!------ Skills ---------->
<div style="margin-top: 30px" class="row">
<div class="col-md-4">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Über mich</a>
        </li>
    </ul>

    <!------ Name ---------->
    <h5 style="margin-top: 50px">
        @Emp.FirstName @Emp.LastName
    </h5>

    <!------ RC-Level ---------->
    <p class="proile-rating">RateCard : <span>@Emp.Rc</span></p>

    <!------ Employment Time ---------->
    <div class="form-row">
        <p style="color: #000">@Emp.EmploymentTime</p>
    </div>
</div>


<div class="form-group col-md-8">
    <div class="tab-content profile-tab" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Weitere Informationen</a>
                </li>
            </ul>

            <!------ Hard Skills ---------->
            <div class="card-body text-center">
                <label class="card-title font-weight-light lead text-center" id="title" @onclick="(() => { CollHardSkill(); })">Hard Skills</label>
                <div class="card-text @(_booleanHardSkill ? "" : "collapse")">
                    <table class="table table-striped">
                        <tr>
                            <th>Hard Skills</th>
                        </tr>
                        @foreach (var hardskill in Emp.Hardskills)
                        {
                            <tr>
                                <td>@hardskill.Description</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>

            <!------ Soft Skills ---------->
            <div class="card-body text-center">
                <label class="card-title font-weight-light lead text-center" id="title" @onclick="(() => { CollSoftSkill(); })">Soft Skills</label>
                <div class="card-text @(_booleanSoftSkill ? "" : "collapse")">
                    <table class="table table-striped">
                        <tr>
                            <th>Soft Skills</th>
                        </tr>
                        @foreach (var softskill in Emp.Softskills)
                        {
                            <tr>
                                <td>@softskill</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>

            <!------ Rollen ---------->
            <div class="card-body text-center">
                <label class="card-title font-weight-light lead text-center" id="title" @onclick="(() => { CollRole(); })">Rollen</label>
                <div class="card-text @(_booleanRole ? "" : "collapse")">
                    <table class="table table-striped">
                        <tr>
                            <th>Roles</th>
                        </tr>
                        @foreach (var roles in Emp.Roles)
                        {
                            <tr>
                                <td>@roles</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>

            <!------ Fields ---------->
            <div class="form-row">
                <div class="card-body text-center">
                    <label class="card-title font-weight-light lead text-center" id="title" @onclick="(() => { CollField(); })">Branchenwissen</label>
                    <div class="card-text @(_booleanField ? "" : "collapse")">
                        <ul class="list-group list-group-flush text-left">
                            @if (Emp.Field.Any())
                            {
                                foreach (var field in Emp.Field)
                                {
                                    <li class="list-group-item text-center">
                                        @field
                                    </li>
                                }
                            }
                            else
                            {
                                <li>

                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>


            <!------ Relevant Work Experience ---------->
            <div class="card-body text-center">
                <label class="card-title font-weight-light lead text-center" id="title" @onclick="(() => { CollWork(); })">Relevante Berufserfahrung</label>
                <div class="card-text @(_booleanWork ? "" : "collapse")">
                    <ul class="list-group list-group-flush text-left">
                        @if (Emp.RelevantWorkExperience.Any())
                        {
                            foreach (var work in Emp.RelevantWorkExperience)
                            {
                                <li class="list-group-item border-dark bg-light font-weight-bold text-black text-center">
                                    @work
                                </li>
                            }
                        }
                        else
                        {
                            <li>

                            </li>
                        }
                    </ul>
                </div>
            </div>

            <!------ Languages ---------->
            <div class="card-body text-center">
                <label class="card-title font-weight-light lead text-center" id="title" @onclick="(() => { CollLang(); })">Sprachen</label>
                <div class="card-text @(_booleanLang ? "" : "collapse")">
                    <table align="left" style="text-align: left" class="table align-middle">
                        <tr>
                            <th class="text-left">Sprache</th>
                            <th class="text-center">Sprachniveau</th>
                        </tr>
                        @if (Emp.Language.Any())
                        {
                            foreach (var lang in Emp.Language)
                            {
                                <tr>
                                    <td class="text-left">@lang.Item1</td>
                                    <td class="text-center">@lang.Item2</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                        }
                    </table>
                </div>
            </div>

            <!------ Projects ---------->
            <div class="card-body text-center">
                <label class="card-title font-weight-light lead text-center" id="title" @onclick="(() => { CollProj(); })">Projekte</label>
                <div class="card-text @(_booleanProj ? "" : "collapse")">
                    <table align="left" style="text-align: left" class="table align-middle">
                        <tr>
                            <th class="text-left">Projekt</th>
                            <th class="text-center">Projekttätigkeit</th>
                        </tr>
                        @if (Emp.Projects.Any())
                        {
                            foreach (var project in Emp.Projects)
                            {
                                <tr>
                                    <td class="text-left">@project.Projecttitel</td>
                                    <td class="text-center">Projecttätigkeit</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</form>
</div>


@code {

    private bool _booleanLang = false;
    private bool _booleanProj = false;
    private bool _booleanField = false;
    private bool _booleanHardSkill = false;
    private bool _booleanSoftSkill = false;
    private bool _booleanRole = false;
    private bool _booleanWork = false;

    [Parameter]
    public int Id { get; set; }


    Employee Emp = new Employee()
    {
        FirstName = "Ismail", LastName = "Gürsöz", Roles = new List<string>() {"Programming"}, Hardskills = new List<Hardskill>()
        {
            new Hardskill {Description = "JavaScript", Subcat = null, Uppercat = null, Height = 0},
            new Hardskill {Description = "CSS", Subcat = null, Uppercat = null, Height = 0}
        },
        Softskills = new List<string>() {"Teamleading"}
    };

    protected override void OnInitialized()
    {
        Emp = _employee.GetEmployeeProfile(Id);
    }

    public void CollLang()
    {
        _booleanLang = !_booleanLang;
    }

    public void CollProj()
    {
        _booleanProj = !_booleanProj;
    }

    public void CollField()
    {
        _booleanField = !_booleanField;
    }

    public void CollHardSkill()
    {
        _booleanHardSkill = !_booleanHardSkill;
    }

    public void CollSoftSkill()
    {
        _booleanSoftSkill = !_booleanSoftSkill;
    }

    public void CollRole()
    {
        _booleanRole = !_booleanRole;
    }

    public void CollWork()
    {
        _booleanWork = !_booleanWork;
    }


    public void RedirectToEditProfile()
    {
        _navManager.NavigateTo("/profile/update");
    }

}