@page "/Projektübersicht/Projektedit"
@page "/Projektübersicht/Projektedit/{ID:int}"

@using AVATI.Data
@using Blazorise
@inject IProjektService _projektService
@inject NavigationManager _navigationManager
@inject ProjectServiceSimple _projectServiceSimple

<h3>Edit Projekt</h3>

<EditForm Model="@_project" OnInvalidSubmit="@Save">
    <DataAnnotationsValidator/>


    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Projekttitel</label>
        <div class="col-sm-10">
            <InputText id="projekttitel" class="form-control" @bind-Value="_project.Projecttitel"></InputText>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Projektbeschreibung</label>
        <div class="col-sm-10">
            <InputText id="projektbeschreibung" class="form-control" @bind-Value="_project.Projectdescription"></InputText>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Branchen</label>
        <div class="col-sm-10 column">
            <input class="form-control" type="text" value="@String.Join(" | ", _projectServiceSimple.GetAllFieldsFromOneProject(ID).ToArray())" placeholder="" readonly/>
            <button type="button" class="btn btn-check" @onclick="SaveFieldsInProjectSimple">Branche hinzufügen</button>
            <button type="button" class="btn btn-danger">Branche löschen</button>
        </div>

        
        
        
    </div> 
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Projektlaufzeit</label>
    <label class="col-sm-2 col-form-label text-muted">@_project.Runtimme</label>
    <label class="col-sm-2 col-form-label text-muted">@CalculateRunTime()</label>
    <label class="col-sm-2 col-form-label text-muted"></label>
</div>

</EditForm>


@code {
    private bool show { get; set; }

    private Project _project { get; set; } = new Project();
    public List<string> fields { get; set; } = new List<string>();

    public DateTime runtime { get; set; } = new DateTime();

    [Parameter]
    public int ID { get; set; }

    public string field { get; set; }
    

    public void SaveFieldsInProjectSimple()
    {
        _projectServiceSimple.AddFieldstoProject(ID, field);
    }

    public TimeSpan CalculateRunTime()
    {
        TimeSpan exactDateTime = _project.Runtimme - DateTime.Today;
        return exactDateTime;
    }
    
    private void Save()
    {
        _projektService.UpdateProject(_project);
        _navigationManager.NavigateTo("/Projektübersicht");
    }

}