@page "/"
@using Team12.Data

<h1>Mitarbeitendenübersicht, Team12</h1>

<p> Hier wird das SoPro entstehen!</p>
<p> In der Zwischenzeit könnt ihr die <a href="fetchdata"> Wettervorhersage </a> anschauen</p>
<p><b>Übersicht aller am Projekt beteiligten Mitarbeiter:</b></p>

<div class="card-deck">
    <EmployeeShortcard Worker="@(new Employee() {vorname ="Ismail", nachname = "Gürsöz", projekte = new List<String>{ "GeheimprojektXY" , "Projekt Fritz", "Projekt 1"}, geburtstag=DateTime.Parse("09.11.1997")})" />

    <EmployeeShortcard Worker="@(new Employee() {vorname ="Anton", nachname = "Huber", projekte = new List<String>{"The boring project" }, geburtstag=DateTime.Parse("28.05.1998")})" />

    <EmployeeShortcard Worker="@(new Employee() {vorname ="Tobias", nachname = "Mayr", projekte = new List<String>{"Projekt Hans", "GeheimprojektXY" }, geburtstag=DateTime.Parse("11.12.1999")})" />

    <EmployeeShortcard Worker="@(new Employee() {vorname ="Alexander", nachname = "Kaistra", projekte = new List<String>{"The leaf project", "Projekt Fritz" }, geburtstag=DateTime.Parse("19.11.1998")})" />

    <EmployeeShortcard Worker="@(new Employee() {vorname ="Victoria", nachname = "Kuch", projekte = new List<String>{"Ein Projekt" }, geburtstag=DateTime.Parse("16.03.2000")})" />
</div>
