@page "/EmployeeShortcard"

@using Team12.Data

<h1>Employee Shortcard</h1>

<table class="table">
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Birthday</th>
            <th>Projects</th>
        </tr>
        <tr>
            <td>@employee.Firstname</td>
            <td>@employee.Lastname</td>
            <td>@employee.Day_of_Birth</td>
            <td>@employee.Fin_Projects</td>
        </tr>
        <tr>
            <td>@employee2.Firstname</td>
            <td>@employee2.Lastname</td>
            <td>@employee2.Day_of_Birth</td>
            <td>@employee2.Fin_Projects</td>
        </tr>
</table>
@code {
    private Employee employee = new Employee()
    {
        Firstname = "Tobi",
        Lastname = "Mayr",
        Day_of_Birth = DateTime.Parse("11.12.1999"),
        Fin_Projects = "Ein Projekt",
    };
    private Employee employee2 = new Employee()
    {
        Firstname = "Hans",
        Lastname = "Müller",
        Day_of_Birth = DateTime.Parse("20.03.1987"),
        Fin_Projects = "Projekt Drölf",
    };
}