@page "/skill/edit"
@page "/skill/edit/{Id:int}"

@using Team12.Data
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
@inject ISkillService skillService

@if (Id == 0)
{
    <h3><b>Edit Skill</b></h3>
    <EditForm Model="@skill" OnValidSubmit="@SkillHinzufügen">
        <fieldset>
            <div class="form-group">
                <label for="Skillname">Skillname:</label>
                <InputText class="form-control" @bind-Value="@skill.Name"/>
            </div>
            <div class="form-group">
                <label for="Kategorie">Kategorie des Skills:</label>
                <InputSelect @bind-Value="@skill.Skilltype" class="form-control">
                    <option value="@Skilltype.Hardskill">Hardskill</option>
                    <option value="@Skilltype.Softskill">Softskill</option>
                </InputSelect>
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </fieldset>
    </EditForm>
}
else
{
    <h3><b>Update Skill</b></h3>
    <EditForm Model="@skill" OnValidSubmit="@SkillUpdaten">
        <fieldset>
            <div class="form-group">
                <label for="Skillname">Skillname:</label>
                <InputText @bind-Value="@skill.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Kategorie">Kategorie des Skills:</label>
                <InputSelect @bind-Value="@skill.Skilltype" class="form-control">
                    <option value="@Skilltype.Hardskill">Hardskill</option>
                    <option value="@Skilltype.Softskill">Softskill</option>
                </InputSelect>
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </fieldset>
    </EditForm>
}



@code {
    [Parameter]
    public int Id { get; set; }

    private Skill skill = new Skill();

    private void SkillHinzufügen()
    {
        skill.Id = 0;
        skillService.UpdateSkill(skill);
        navigationManager.NavigateTo("/skill");
    }

    private void SkillUpdaten()
    {
        skill.Id = Id;
        skillService.UpdateSkill(skill);
        navigationManager.NavigateTo("/skill");
    }

}
