@page "/employeeProject2"

@using AVATI.Data
@using Microsoft.AspNetCore.Http

@inject IProjektService _projektService
@inject JsonImport _jsonImport
@inject IHardskillService _hardskillService
@inject IProjectActivityService _projectActivityService
@inject NavigationManager _navManager
@inject IEmployeeService _employeeService
@inject IBasicDataService _basicDataService
@inject IHttpContextAccessor _httpContextAccessor

<h2>Projektübersicht</h2>

<table class="table">
    <thead>
    <tr>
        <th>Projekt</th>
        <th>Projekttätigkeiten</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var projectId in _projectWithGroupedActivities.Keys)
    {
        var project = _projektService.GetProject(projectId);
        <tr>
            <td><b>Titel:</b> @project.Projecttitel<p/>
                <b>Beschreibung:</b> @project.Projectdescription<p/>
                @if (_activitiesToChoose[projectId].Any())
                {
                    <div class="alert alert-success" style="font-size: small;">
                        Tätigkeit hinzufügen
                        <button class="btn btn-success" @onclick="() => ShowPopUpCreate(projectId)"> <span class="oi oi-plus"></span></button>
                    </div>
                }
                else
                {
                    <div class="alert alert-danger" style="font-size: small;">
                        Sie können sich keiner Tätigkeit mehr zuweisen
                    </div>
                }
            </td>
            <td>
                @if (!_projectWithGroupedActivities[projectId].Any())
                {
                    <a>[Sie haben sich noch keiner Tätigkeit zugewiesen]</a>
                }
                else
                {
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Tätigkeit</th>
                            <th>Hardskills</th>
                            <th>Softskills</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>
                        @foreach (var activity in _projectWithGroupedActivities[projectId])
                        {
                            <tr>
                                <td>@activity.Description</td>
                                <td>
                                    @if (activity.HardSkills.Any())
                                    {
                                        foreach (var hardskill in activity.HardSkills)
                                        {
                                            <button class="btn hardskill btn-sm">@hardskill</button>
                                        }
                                    }
                                    else
                                    {
                                        <small style="color: #818181;">[Keine Hardskills zugewiesen]</small>
                                    }
                                </td>
                                <td>
                                    @if (activity.SoftSkills.Any())
                                    {
                                        @foreach (var softskill in activity.SoftSkills)
                                        {
                                            <button class="btn softskill btn-sm">@softskill</button>
                                        }
                                    }
                                    else
                                    {
                                        <small style="color: #818181;">[Keine Softskills zugewiesen]</small>
                                    }
                                </td>
                                <td>
                                    <button class="btn btn-secondary" @onclick="() => ShowPopUpEdit(activity)"><span class="oi oi-pencil" aria-hidden="true"></span></button>
                                </td>
                                <td>
                                    <button class="btn btn-danger" @onclick="() => ShowPopUpDelete(activity)"><span class="oi oi-trash"></span></button>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }
            </td>
        </tr>
    }
    </tbody>
</table>


@if (_showCreate || _showEdit )
{
    var projecttitle = _projektService.GetProject(_projectActivity.ProjectID).Projecttitel;
    
    <div class="modal fade show mt-5" id="myModal" style=" display: inline-block;">
        <div class="modal-dialog border-dark">
            <div class="modal-content">
                <div class="modal-header flex-column">
                    @if(_showCreate) {
                        <h4 class="modal-title col-12 text-center">Hinzufügen einer Projekttätigkeit im Projekt @projecttitle</h4>
                    }
                    else
                    {
                        <h4 class="modal-title col-12 text-center">Aktivität "@_projectActivity.Description" bearbeiten</h4>
                    }
                </div>
                <div class="modal-body text-center">
                    <div class="form-group">

                        @if(_showCreate) 
                        {
                            <!------ Project Activity ---------->
                            <div class="form-group">
                                <label class="mr-3 mt-2">Projektaktivität: </label>
                                <select @bind="_projectActivity.Description">
                                    @foreach (var activity in _activitiesToChoose[_projectActivity.ProjectID])
                                    {
                                        <option value="@activity">@activity</option>
                                    }
                                </select>
                            </div>
                            
                        }

                            <!------ Soft Skills ---------->
                        <div class="form-group">
                            <label class="mr-3 mt-2">Softskill: </label>
                            @if (_projectActivity.SoftSkills.Any())
                            {
                                foreach (var softskill in _projectActivity.SoftSkills)
                                {
                                    <button type="button" class="btn btn-outline-success btn-sm mr-2" @onclick=@(() => { _projectActivity.SoftSkills.Remove(softskill); })>
                                        <a>
                                            <a class="showRemove"> @softskill </a>
                                            <a class="remove">
                                                <span style="color: darkred" class="oi oi-x"></span>
                                            </a>
                                        </a>
                                    </button>
                                }
                            }
                        </div>
                        @foreach (var softskill in _employee.Softskills)
                        {
                            if (!_projectActivity.SoftSkills.Contains(softskill))
                            {
                                <button type="button" class="btn btn-outline-dark btn-sm mr-2 mb-2" @onclick=@(() => { _projectActivity.SoftSkills.Add(softskill); })>
                                    @softskill
                                </button>
                            }
                        }


                        <!------ Hard Skills ---------->
                        <div class="form-group">
                            <label class="mr-3 mt-2">Hardskill: </label>
                            @if (_projectActivity.HardSkills.Any())
                            {
                                @foreach (var hardskill in _projectActivity.HardSkills)
                                {
                                    <button type="button" class="btn btn-outline-success btn-sm mr-2" @onclick=@(() => { _projectActivity.HardSkills.Remove(hardskill); })>
                                        <a>
                                            <a class="showRemove"> @hardskill </a>
                                            <a class="remove">
                                                <span style="color: darkred" class="oi oi-x"></span>
                                            </a>
                                        </a>
                                    </button>
                                }
                            }
                        </div>


                        <input class="form-control" type="text" placeholder="Suche Hardskill..."
                               @bind="Filter"
                               @bind:event="oninput">
                        @foreach (var hardskill in _employee.Hardskills)
                        {
                            if (!_projectActivity.HardSkills.Contains(hardskill.Description))
                            {
                                <button type="button" class="btn btn-outline-dark btn-sm mr-2 mb-2" @onclick=@(() => { _projectActivity.HardSkills.Add(hardskill.Description); })>
                                    @hardskill.Description
                                </button>
                            }
                        }
                    </div>

                    <div class="float-right">
                        <button type="button" class="btn btn-info" data-dismiss="modal" @onclick="(() => { _showCreate = _showEdit = false; })">
                            <span class="oi oi-circle-x" aria-hidden="true"></span> Abbrechen
                        </button>
                        <button type="button" class="btn btn-success" data-dismiss="modal" @onclick="@(_showCreate ? CreateProjectActivity: EditProjectActivity)">
                            <span class="oi oi-document" aria-hidden="true"></span> Speichern
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="modal-backdrop fade show"></div>
}

@if (_showDelete)
{
    <div class="modal fade show" id="myModal" style=" display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Löschvorgang bestätigen</h4>
                    <button type="button" class="close" data-dismiss="modal" @onclick="() => { _showDelete = false; }">&times;</button>
                </div>
            
                <div class="modal-body">
                    Sind Sie sicher, dass die Projektaktivität "<b>@_projectActivity.Description</b>" gelöscht werden soll?
                </div>
            
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" @onclick="() => { _showDelete = false; }">Abbrechen</button>
                    <button type="button" class="btn btn-success" @onclick="DeleteProjectActivity">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade show"></div>
}


@code {
    [Parameter]
    public int Id { get; set; }
    
    private Dictionary<int, List<ProjectActivity>> _projectWithGroupedActivities;
    private Employee _employee;
    private ProjectActivity _projectActivity;

    private Dictionary<int, List<string>> _activitiesToChoose;
    
    private string Filter { get; set; }
    
    private bool _showCreate;
    private bool _showEdit;
    private bool _showDelete;
    
    protected override void OnInitialized()
    {
        if (_httpContextAccessor.HttpContext != null)
        {
            string context = _httpContextAccessor.HttpContext.User.Claims.FirstOrDefault()?.Value;
            Id = Int16.Parse(context ?? throw new InvalidOperationException());
        }
        _showCreate = false;
        _showEdit = false;
        _showDelete = false;
        _projectWithGroupedActivities = _projectActivityService.GetActivitiesWithProjectsGrouped(Id);
        _employee = _employeeService.GetEmployeeProfile(Id);
        GetActivitiesOfProjectEmployee();
    }

    private void EditProjectActivity()
    {
        _projectActivityService.UpdateSkillsToActivity(_projectActivity.ProjectActivityID, _projectActivity.HardSkills, _projectActivity.SoftSkills);
        _projectWithGroupedActivities = _projectActivityService.GetActivitiesWithProjectsGrouped(Id);
        StateHasChanged();
        _showEdit = false;
    }

    private void ShowPopUpEdit(ProjectActivity activity)
    {
        _projectActivity = activity;
        _projectActivity = new ProjectActivity
        {
            ProjectActivityID = activity.ProjectActivityID,
            ProjectID = activity.ProjectID,
            EmployeeID = activity.EmployeeID,
            Description = activity.Description,
            HardSkills = new List<string>(activity.HardSkills),
            SoftSkills = new List<string>(activity.SoftSkills)
        };
        _showEdit = true;
    }

    private void DeleteProjectActivity()
    {
        _projectActivityService.DeleteProjectActivityToEmployee(_projectActivity.ProjectActivityID);
        _projectWithGroupedActivities = _projectActivityService.GetActivitiesWithProjectsGrouped(Id);
        GetActivitiesOfProjectEmployee();
        StateHasChanged();
        _showDelete = false;
    }

    private void ShowPopUpDelete(ProjectActivity activity)
    {
        _projectActivity = activity;
        _showDelete = true;
    }

    private void CreateProjectActivity()
    {
        _projectActivityService.SetProjectActivityToEmployee(_projectActivity);
        _projectWithGroupedActivities = _projectActivityService.GetActivitiesWithProjectsGrouped(Id);
        GetActivitiesOfProjectEmployee();
        StateHasChanged();
        _showCreate = false;
    }

    private void ShowPopUpCreate(int projectId)
    {
        _projectActivity = new();
        if (_activitiesToChoose[projectId].Any())
            _projectActivity.Description = _activitiesToChoose[projectId][0];
        _projectActivity.ProjectID = projectId;
        _projectActivity.EmployeeID = Id;
        _showCreate = true;
    }

    private void GetActivitiesOfProjectEmployee()
    {
        _activitiesToChoose = new();
        foreach (var projectId in _projectWithGroupedActivities.Keys)
        {
            var activitiesOfProject = _projectActivityService.GetActivitiesDesOfProject(projectId);
            var activitiesAlreadyIn = _projectWithGroupedActivities[projectId];
            var result = new List<string>();

            foreach (var activity in activitiesOfProject.Where(x => !activitiesAlreadyIn.Exists(k => k.Description == x)))
            {
                result.Add(activity);
            }
            _activitiesToChoose.Add(projectId, result);
        }
    }

}