@page "/profile"
@page "/profile/{Id:int}"
@using AVATI.Data
@inject NavigationManager _navManager
@inject IEmployeeService _employee
@inject IProjectActivityService _projctActivityService
@inject IProjektService _projektService
@inject AuthenticationStateProvider _authenticationStateProvider
@inject NavigationManager _navigationManager

<h2 style="text-align: center">@Emp.FirstName @Emp.LastName</h2>
<hr style="padding: 0.5%"/>

<div class="container">
    <div class="form-group row">
        <div class="col-md-4">
            <div style="margin-top: -5%; border-radius: 80%" class="profile-img">
                @if (Emp.Image == null)
                {
                    <img class="rounded" src="https://www.geniale-tipps.de/images/t/whatsapp-profilbild-grau.jpg" width="300" height="200" alt=""/>
                }
                else
                {
                    <img class="rounded" src="@Emp.Image" width="300" height="200" alt=""/>
                }
            </div>
        </div>
        <div class="col-md-4">
            <div class="rounded-3 profile-head">
                <div style="margin-left: 12px" class="form-group text-left">

                    <!------ RC-Level ---------->
                    <p class="profile-rating">RateCard : <span>@Emp.Rc</span></p>

                    <!------ Employment Time ---------->
                    <p style="color: #000;margin-top: -7px">Beschäftigt seit: @Emp.EmploymentTime.ToShortDateString()</p>

                    <p style="color: #000;margin-top: -7px">Relevante Berufserfahrung: @(Emp.RelevantWorkExperience) Jahre</p>

                </div>
            </div>
        </div>
        <!------ Edit Profile Button ---------->
        <div class="col-md-4">
            <button type="button" class="btn btn-info" style="height: 40px;" @onclick="() => { NavToUpdate(Id); }">
                Profil bearbeiten
            </button>
        </div>
    </div>

    <!------------------------------------------------------------------------------------------------------------------------------------------------>

    <!------ ATTRIBUTE ---------->
    <div class="container row">
        <div style="border-color: black" class="col-md-4 form-group">
            <div style="border-width: medium; color: black" class="dropdown-divider"></div>
            <div class="form-group">
                <!------ Hard Skills ---------->
                <button type="button" class="btn btn-outline-secondary text-left form-group" @onclick="(() => { CollHardSkill(); })">Hard Skills <span class="oi oi-list" aria-hidden="true"></span></button>
                <div class="card-text @(_booleanHardSkill ? "" : "collapse")">
                    <table class="table table-striped">
                        <tr>
                            <th>Beschreibung</th>
                            <th>Level</th>
                        </tr>
                        @foreach (var hardskill in Emp.HardSkillLevel)
                        {
                            <tr>
                                <td>@hardskill.Item1.Description</td>
                                <td>@hardskill.Item2</td>
                            </tr>
                        }
                    </table>
                </div>

                <div style=" border-width: medium; color: black" class="dropdown-divider"></div>
                <!------ Soft Skills ---------->
                <div class="form-group">
                    <button type="button" class="form-group btn btn-outline-secondary text-left" @onclick="(() => { CollSoftSkill(); })">Soft Skills <span class="oi oi-list" aria-hidden="true"></span></button>
                    <div class="card-text @(_booleanSoftSkill ? "" : "collapse")">
                        <table class="table table-striped">
                            @foreach (var softskill in Emp.Softskills)
                            {
                                <tr>
                                    <td>@softskill</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div style="border-color: black" class="col-md-4 form-group">
            <div style="border-width: medium; color: black" class="dropdown-divider"></div>
            <div class="form-group">
                <button type="button" class="btn btn-outline-secondary text-left form-group" @onclick="(() => { CollRole(); })">Rollen <span class="oi oi-list" aria-hidden="true"></span></button>
                <div class="card-text @(_booleanRole ? "" : "collapse")">
                    <ul class="list-group mb-3 text-left">
                        <table class="table table-striped">
                            @foreach (var rolle in Emp.Roles)
                            {
                                <tr>
                                    <td>@rolle</td>
                                </tr>
                            }
                        </table>
                    </ul>
                </div>
            <div style="border-width: medium; color: black;" class="dropdown-divider"></div>
            <div class="form-group">
                <button type="button" class="btn btn-outline-secondary text-left form-group" @onclick="(() => { CollField(); })">Branchenwissen <span class="oi oi-list" aria-hidden="true"></span></button>
                <div class="card-text @(_booleanField ? "" : "collapse")">
                    <ul class="list-group text-left">
                        @if (Emp.Field.Any())
                        {
                            <table class="table align-middle">
                                @foreach (var elem in Emp.Field)
                                {
                                    <tr>
                                        <td>@elem</td>
                                    </tr>
                                }
                            </table>
                        }
                    </ul>
                </div>
            </div>
        </div>
        </div>


        <div style="border-color: black" class="form-group col-md-4">
            <div style=" border-width: medium; color: black" class="dropdown-divider"></div>
            <!------ Languages ---------->
            <div class="form-group">
                <button type="button" class="btn btn-outline-secondary form-group" @onclick="(() => { CollLang(); })">Sprachen <span class="oi oi-list" aria-hidden="true"></span></button>
                <div class="card-text @(_booleanLang ? "" : "collapse")">
                    @if (Emp.Language.Any())
                    {
                        <table style="text-align: left" class="table align-middle">
                            <tr>
                                <th class="text-left">Sprache</th>
                                <th class="text-center">Sprachniveau</th>
                            </tr>
                            @foreach (var lang in Emp.Language)
                            {
                                <tr>
                                    <td class="text-left">@lang.Item1</td>
                                    <td class="text-center">@lang.Item2</td>
                                </tr>
                            }
                        </table>
                    }
                    else
                    {
                        <p>Scheint nichts hier zu sein.</p>
                    }
                </div>

                <div style=" border-width: medium; color: black" class="dropdown-divider"></div>

                <!------ Projects ---------->
                <div class="form-group">
                    <button type="button" class="btn btn-outline-secondary form-group" @onclick="(() => { CollProj(); })">Projekte <span class="oi oi-list" aria-hidden="true"></span></button>
                    <div class="card-text @(_booleanProj ? "" : "collapse")">
                        <table style="text-align: left" class="table align-middle">
                            <tr>
                                <th class="text-left">Projekt</th>
                                <th class="text-left">Projekttätigkeit</th>
                            </tr>
                            @if (_projctActivityService.GetProjectActivitiesEmployee(Id).Any())
                            {
                                foreach (var activity in _projctActivityService.GetProjectActivitiesEmployee(Id))
                                {
                                    <tr>
                                        <td class="text-left">@_projektService.GetProject(activity.ProjectID).Projecttitel</td>
                                        <td class="text-left">@activity.Description</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

    private bool _booleanLang = false;
    private bool _booleanProj = false;
    private bool _booleanField = false;
    private bool _booleanHardSkill = false;
    private bool _booleanSoftSkill = false;
    private bool _booleanRole = false;
    private bool _booleanWork = false;

    [Parameter]
    public int Id { get; set; }

    public List<ProjectActivity> ActivityList { get; set; }


    Employee Emp { get; set; }


    public void Save()
    {
        Emp.EmployeeID = Id;
        _employee.EditEmployeeProfile(Emp);
        _navigationManager.NavigateTo("profile/update/" + @Emp.EmployeeID);
    }

    protected override void OnInitialized()
    {
        _authenticationStateProvider.GetAuthenticationStateAsync();
        Emp = _employee.GetEmployeeProfile(Id);
    }

    public void CollLang()
    {
        _booleanLang = !_booleanLang;
    }

    public void CollProj()
    {
        _booleanProj = !_booleanProj;
    }

    public void CollField()
    {
        _booleanField = !_booleanField;
    }

    public void CollHardSkill()
    {
        _booleanHardSkill = !_booleanHardSkill;
    }

    public void CollSoftSkill()
    {
        _booleanSoftSkill = !_booleanSoftSkill;
    }

    public void CollRole()
    {
        _booleanRole = !_booleanRole;
    }

    public void CollWork()
    {
        _booleanWork = !_booleanWork;
    }

    public void NavToUpdate(int EmployeeID)
    {
        _navigationManager.NavigateTo("profile/update/" + @Emp.EmployeeID);
        StateHasChanged();
    }





}