@page "/skill"
@page "/skill/index"

@using Team12.Data
@inject ISkillService _skillService
@inject DatabaseUtils _database
@inject NavigationManager _navigationManager

@{ _database.CreateSkillTable(); }

<h4>Eine Übersicht über alle Skills</h4>

<table class="table table-striped table-hover">
    <thead class="thead-light">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Skillname</th>
        <th scope="col">Skilltyp</th>
        <th scope="col">Bearbeiten</th>
        <th scope="col">Löschen</th>
        <th scope="col">Hinzufügen</th>
    </tr>
    </thead>
    <tbody>
    @if (_skillService.GetAllSkills().Any())
    {
        @foreach (var skill in _skillService.GetAllSkills())
        {
            <tr>
                <td id = "@skill.Id">@skill.Id</td>
                <td name = "@skill.Name">@skill.Name</td>
                <td>@skill.SkillType</td>
                <td>
                    <a class="btn btn-secondary" href="/skill/edit/@skill.Id" role="button">Bearbeiten</a>
                </td>
                <td>
                    <a class="btn btn-danger" @onclick="@(() => _skillService.DeleteSkill(skill.Id))" role="button">Löschen</a>
                </td>
                <td>
                    <a class="btn btn-success" id="addButton" href="/skill/edit" role="button">Hinzufügen</a>
                </td>
            </tr>
        }
    }
    else
    {
        AddJsonSkills();
    }
    </tbody>

</table>


@code {
    private DatabaseJson _databaseJson { get; set; } = new DatabaseJson();

    public void AddJsonSkills()
    {
    @foreach (string skill in _databaseJson.GetAllSkills())
    {
        _skillService.UpdateSkill(new Skill() {Id = 0, Name = skill, SkillType = Skill.SkillCategory.Hardskill});
    }
        //_navigationManager.NavigateTo("/skill", forceLoad: true);
    }

}