@page "/AddEmployeeToProject/{ID:int}"

@using AVATI.Data
@using DocumentFormat.OpenXml
@using DocumentFormat.OpenXml.Office2010.Excel
@using Microsoft.AspNetCore.Components

@inject IEmployeeService _employeeServiceSimple
@inject IProjektService _projectService
@inject NavigationManager _navigationManager
@inject SearchService _searchService
@inject IProposalService _proposal
@inject JsonImport _import
@inject IEmployeeService _employee
@inject IBasicDataService _basic
@inject IHardskillService _hard
@inject IJSRuntime _jsRuntime

<div class="modal @(_show ? "fade show" : "")" id="myModal" style="display: @(_show ? "block" : "none");">
<div class="modal-dialog modal-xl col" style="height: 800px; width: 1500px">
<div class="modal-content col">

<div class="modal-header">
    <h5 class="modal-title">Mitarbeiter hinzufügen</h5>
    <button type="button" class="close" data-dismiss="modal" @onclick=@Close>
        <span aria-hidden="true">x</span>
    </button>
</div>


<div class="modal-body col" style="height: 800px; overflow-y: auto">
@if (PageIsLoaded)
{
    <div class="container h-100 col">
    <div class="row h-100">
    <div class="col text-left">
    <EditForm Model="_searchService">
        @if (Project != null)
        {
            <h1 class="mb-4">Mitarbeitersuche für <br><strong>@Project.Projecttitel</strong>:</h1>
        }
        else
        {
            <h1 class="mb-4">Mitarbeitersuche</h1>
        }
        <div class="form-group">
            <label class="font-weight-bold">Mitarbeitername <small class="text-muted">(Optional)</small> </label>
            <InputText type="text" class="form-control col-8" placeholder="Vor- und Nachname" @bind-Value="_searchService.EmployeeName"/>
        </div>
        <label class="font-weight-bold">Hardskills/Kategorien: </label>
        <div class="form-group col-9" style="min-height: 96px; border: 2px solid darkslategray;  border-radius: 6px">

            <div class="row">
                @if (!_searchService.HardskillsToSearch.Any() && !_searchService.CategoriesToSearch.Any())
                {
                    <div class="text-muted mt-2 ml-2">[Über die untenstehenden Buttons Hardskills/Kategorien ergänzen]</div>
                }
                @foreach (var hardskill in  _searchService.HardskillsToSearch)
                {
                    <button type="button" class="btn btn-success btn-sm border border-dark section" @onclick=@(() => { _searchService.HardskillsToSearch.Remove(hardskill); _searchService.HardskillsToDisplay.Add(hardskill); _searchService.HardskillsToDisplay = _searchService.HardskillsToDisplay.OrderBy(e => e.Description).ToList();})>
                        @hardskill.Description <span class="oi oi-x cross"></span>
                    </button>
                }
                @foreach (var hardskill in _searchService.CategoriesToSearch)
                {
                    <button type="button" class="btn btn-info btn-sm border border-dark section" @onclick=@(() => { _searchService.CategoriesToSearch.Remove(hardskill); _searchService.HardskillsToDisplay.Add(hardskill); _searchService.HardskillsToDisplay = _searchService.HardskillsToDisplay.OrderBy(e => e.Description).ToList();})>
                        @hardskill.Description <span class="oi oi-x cross"></span>
                    </button>
                }
            </div>
        </div>

        <div class="form-group row">
            <div class="col-7 mr-4">
                <label for="suche">Filter <small class="text-muted">(Nach individuellen Hardskills suchen)</small></label>
                <input type="search" class="col form-control" id="suche" @bind-value="TempHardskill" @bind-value:event="oninput" placeholder="Hardskill..."/>
                <div class="list-group overflow-auto" style="height: 200px;  border: 3px solid lightgreen; border-radius: 6px; min-width:100%">
                    @foreach (var hardskill in _searchService.HardskillsToDisplay)
                    {
                        @if (TempHardskill == null || hardskill.Description.Contains(TempHardskill, StringComparison.OrdinalIgnoreCase))
                        {
                            <button class="btn btn-outline-dark" @onclick=@(() => { _searchService.AddHardSearch(hardskill); })>@hardskill.Description</button>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="font-weight-bold">Softskills</label>
            <div class="form-group col-9" style="min-height: 100px; border: 2px solid darkslategray;  border-radius: 6px">
                <div class="row">
                    @if (!_searchService.SoftskillsToSearch.Any())
                    {
                        <div class="text-muted mt-2 ml-2">[Über die untenstehenden Buttons Softskills ergänzen]</div>
                    }
                    @foreach (var softskill in _searchService.SoftskillsToSearch)
                    {
                        <button type="button" class="btn btn-info btn-sm border border-dark section" @onclick=@(() => { _searchService.SoftskillsToSearch.Remove(softskill); _searchService.SoftskillsToDisplay.Add(softskill); _searchService.SoftskillsToDisplay.Sort();})>
                            @softskill <span class="oi oi-x cross"></span>
                        </button>
                    }

                </div>
            </div>
        </div>
        <div class="form-group">

            <div class="form-group col-9">
                <div class="row">
                    @foreach (var softskill in _searchService.SoftskillsToDisplay)
                    {
                        <button class="btn btn-sm btn-outline-info mb-1 mr-1" @onclick=@(() => { _searchService.AddSoftSearch(softskill); })>@softskill</button>
                    }

                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="font-weight-bold">Rolle(n)</label>
            <div class="form-group col-9" style="min-height: 35px; border: 2px solid darkslategray; border-radius: 6px">
                <div class="row">
                    @if (!_searchService.RolesToSearch.Any())
                    {
                        <div class="text-muted mt-1 ml-2">[Über die untenstehenden Buttons Rollen ergänzen]</div>
                    }
                    @foreach (var role in _searchService.RolesToSearch)
                    {
                        <button type="button" class="btn btn-info btn-sm border border-dark section" @onclick=@(() => { _searchService.RolesToSearch.Remove(role); _searchService.RolesToDisplay.Add(role);})>
                            @role <span class="oi oi-x cross"></span>
                        </button>
                    }

                </div>
            </div>
        </div>
        <div class="form-group row col-9 mb-4">
            @foreach (var role in _searchService.RolesToDisplay)
            {
                <button class="btn btn-sm btn-outline-info  mb-1 mr-1" @onclick=@(() => { _searchService.AddRoleSearch(role); })>@role</button>
            }
        </div>
         <button type="submit" id="submitQuery" @onclick=@(() => { CallSearch(); _searchService.TableIsVisible = true;}) class="btn btn-success col-2 mb-5">Suchen</button>
    </EditForm>
    @if (_searchService.TableIsVisible)
    {
        if (!_searchService.PerfectMatch && SelectEmployees.Any())
        {
            <div class="alert alert-danger">Es konnte kein(e) MitarbeiterIn gefunden werden, der/die alle Kriterien erfüllt!</div>
        }

        @if (!SelectEmployees.Any())
        {
            <div class="alert alert-danger">Es konnte kein(e) MitarbeiterIn gefunden werden, der/die mindestens eines der Kriterien erfüllt!</div>
        }
        else
        {
            <h4 class="mb-3 font-weight-bold">Gefundene Mitarbeiter:</h4>

            <table class="table table-bordered table-striped text-center">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>RC</th>
                    <th>Hardskills</th>
                    <th>Softskills</th>
                    <th>Rolle(n)</th>
                    <th>Hinzufügen</th>

                </tr>
                </thead>
                <tbody>
                @foreach (var employee in SelectEmployees)
                {
                    <tr>
                        <td class="font-weight-bold" style="width: 15%">@employee.FirstName @employee.LastName</td>
                        <td style="width: 5%">

                            <button type="button" class="btn btn-primary align-middle col">@employee.Rc</button>
                        </td>
                        <td style="width:20%">
                            <div class="form-group row col">
                                @foreach (var hardskill in employee.Hardskills)
                                {
                                    if (_searchService.HardskillsToSearchTemp.Exists(e => e.Description.Equals(hardskill.Description)))
                                    {
                                        <button class="btn btn-primary btn-sm mr-1 mb-1">@hardskill.Description</button>
                                    }
                                }
                            </div>
                        </td>
                        <td style="width:20%">
                            <div class="form-group row col">
                                @foreach (var softskill in employee.Softskills)
                                {
                                    if (_searchService.SoftskillsToSearchTemp.Contains(softskill))
                                    {
                                        <button class="btn btn-secondary btn-sm mr-1 mb-1">@softskill</button>
                                    }
                                }
                            </div>
                        </td>
                        <td style="width: 20%">
                            <div class="form-group row col">
                                @foreach (var role in employee.Roles)
                                {
                                    if (_searchService.RolesToSearchTemp.Contains(role))
                                    {
                                        <button class="btn btn-secondary btn-sm mr-1 mb-1">@role</button>
                                    }
                                }
                            </div>
                        </td>
                        <td style="width: 10%" class="text-center">


                            @if (_chosenEmployees.Find(e => e.EmployeeID == employee.EmployeeID) == null)
                            {
                                <button class="btn btn-sm btn-success" @onclick=@(() => { _chosenEmployees.Add(employee); })>Hinzufügen</button>
                            }
                            else
                            {
                                <button class="btn btn-sm btn-outline-secondary" @onclick=@(() => { _chosenEmployees.Remove(employee); })>Hinzugefügt</button>
                            }


                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
    }

    @if (_searchService.TableIsVisible)
    {
        <div class="float-right mb-4">
            <button class="btn btn-info mt-2" @onclick="Close">Abbrechen</button>
            <button class="btn btn-success mt-2" @onclick="UpdateEmployees">Speichern</button>
        </div>
    }
    </div>
    </div>
    </div>
}
else
{
    <div class="d-flex flex-column align-items-center justify-content-center">
        <div class="row">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="row">
            <strong>Lade...</strong>
        </div>
    </div>
}

</div>
</div>
</div>
</div>


@if (_show)
{
    <div class="modal-backdrop fade show"></div>
}

@code{

    [Parameter]
    public Project Project { get; set; }

    public static bool _show = false;

    [Parameter]
    public Projectedit Abstract { get; set; }

    private bool PageIsLoaded = false;

    public string TempHardskill { get; set; }

    public List<Hardskill> PseudoHardskills { get; set; }

    public List<Employee> AllEmployees { get; set; }

    public List<Employee> SelectEmployees { get; set; }

    private List<Employee> _chosenEmployees;


    private List<Hardskill> _hardskills = new List<Hardskill>();
    private List<string> _roles = new List<string>();
    private List<string> _softskills = new List<string>();
    private List<Hardskill> _hardskillCategory = new List<Hardskill>();


    public void CallSearch()
    {
        SelectEmployees = _searchService.SearchEmployee(_searchService.EmployeeName, _searchService.SoftskillsToSearch, _searchService.HardskillsToSearch, _searchService.RolesToSearch, _searchService.CategoriesToSearch, new List<Tuple<string, int>>());
        _searchService.EmptyQuery();
    }

    public async Task Showing()
    {
        _show = !_show;
        _searchService.EmptyQuery();
        Task<List<Hardskill>> tempHard = _hard.GetAllHardskills();
        Task<List<Hardskill>> tempKat = _hard.GetAllHardskillCategorys();
        _hardskillCategory = await tempKat;
        _hardskills = await tempHard;
        AllEmployees = _employee.GetAllEmployees();
        _roles = _basic.GetAllRoles();
        _softskills = _basic.GetAllSoftSkills();
        _chosenEmployees = new List<Employee>(Project.Employees);
        _searchService.InitAttributes(_softskills, _roles, _hardskills, _hardskillCategory);
        PageIsLoaded = true;
        StateHasChanged();
    }

    public void Close()
    {
        _show = !_show;
        StateHasChanged();
    }

    private void UpdateEmployees()
    {
        Project.Employees = _chosenEmployees;
        Abstract.Update();
        Close();
    }

}