@page "/Projektübersicht/Projektedit"
@page "/Projektübersicht/Projektedit/{ID:int}"

@using AVATI.Data
@using Blazorise
@inject IProjektService _projectService
@inject NavigationManager _navigationManager
@inject IProjectActivityService _projectActivity
@inject EmployeeServiceSimple _employeeService

<AddFieldToProject @ref="_addFieldToProject"></AddFieldToProject>
<AddProjectActivityToEmployee @ref="_addProjectActivitytoemployee"></AddProjectActivityToEmployee>
<AddProjectActivity @ref="_addprojectActivitytoProject"></AddProjectActivity>

<EditForm Model="@_project" OnInvalidSubmit="@Save">
    <DataAnnotationsValidator/>
    <h3>Edit Projekt</h3>
    <div class="container col h-100">
        <div class="row col h-100">
            <div class="text-left col">
                <div class="column">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" value="@_project.Projecttitel">Projekttitel</label>
                        <div class="col-sm-9">
                            <InputText id="projekttitel" class="form-control" @bind-Value="_project.Projecttitel"></InputText>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label ">Projektbeschreibung</label>
                        <div class="col-sm-9">
                            <textarea id="projektbeschreibung" class="form-control" rows="3" @bind="_project.Projectdescription"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Branchen</label>
                        <div class="col-sm-8 col-form-label">
                            <div class="form-group row col">
                                <input class="form-control col-8" type="text" 
                                       value="@String.Join(" | ", _projectService.GetAllFieldsFromOneProject(ID).ToArray())" placeholder="" readonly/>
                                <button class="btn btn-success mb-3" @onclick="() => PopAddFieldToProject()">+</button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Projektanfang</label>
                        <div class="col-sm col-form-label">
                            <div class="row col">
                                <input class="center col-2" type="date" value=@_project.Projectbeginning.ToString("yyyy-MM-d")/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Projektende</label>
                        <div class="col-sm col-form-label">
                            <div class="row col">
                                <input class="center col-2" type="date" value="@_project.Projectend.ToString("yyyy-MM-d")"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Mitarbeiter + zugewiesene Tätigkeiten</label>
                    <table class="table border-primary col text-center">
                        <thead>
                        <tr>
                            <th scope="col" style="width: auto">Mitarbeiter</th>
                            <th scope="col" style="width: auto">Projekttätigkeiten</th>
                            <th scope="col" style="width: 10%">Edit</th>
                        </tr>
                        </thead>
                        <tbody>

                        @foreach (var emp in _project.Employees)
                        {
                            <tr>
                                <td>@emp.FirstName @emp.LastName</td>
                                @if (!_projectActivity.GetProjectActivities(emp.EmployeeId, ID).Any())
                                    {
                                        <td>[Fehlende Projekttätigkeit]</td>
                                    }
                                else
                                {
                                    <td>@String.Join("", _projectActivity.GetProjectActivities(emp.EmployeeId, ID)
                                            .Select(x => x.Description))</td>
                                }
                                <td>
                                    <div class="form-group text-right">
                                        <button type="button" class="btn btn-info col" @bind="@description" @onclick="(() => { PopAddActivity(); })">+</button>
                                    </div>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Projekttätigkeiten</label>
                    <table class="table border-primary col text-center">
                        <thead>
                        <th scope="col">Verfügbare Projekttätigkeiten</th>
                        </thead>
                        <tbody>
                        @foreach (var activ in Activitieslist)
                        {
                            if (Activitieslist.Any() == false)
                            {
                                <tr>Projekttätigkeiten hinzufügen!</tr>
                            }
                            else
                            {
                                <tr><button type="button" class="btn btn-info col" @bind="@description" @onclick="(() => { PopAddProjectActivity(); })">+</button></tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
                <div class="form-group text-center">
                    <a href="/Projektübersicht" class="col-sm col-form-label">
                        <button type="button" class="btn btn-success" @onclick="(() => { Save(); })">Submit</button>
                    </a>
                    <a href="/Projektübersicht" class="col-sm col-form-label">
                        <button type="button" class="btn btn-danger">Cancel</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</EditForm>


@code {
    private Project _project { get; set; } = new Project();
    private string description { get; set; }

    AddFieldToProject _addFieldToProject;
    AddProjectActivityToEmployee _addProjectActivitytoemployee;
    AddProjectActivity _addprojectActivitytoProject;
    public List<ProjectActivity> Activitieslist { get; set; } = new List<ProjectActivity>();


    [Parameter]
    public int ID { get; set; }

    public DateTime time { get; set; }
    public string field { get; set; }
    public List<string> FieldstoDisplay { get; set; }


    private void Save()
    {
        _projectService.UpdateProject(_project);
        _navigationManager.NavigateTo("/Projektübersicht");
    }

    public void PopAddFieldToProject()
    {
        _addFieldToProject.Showing();
    }

    public void PopAddProjectActivity()
    {
        _addprojectActivitytoProject.Showing();
    }

    protected override void OnInitialized()
    {
        Activitieslist = _projectActivity.ReturnListProjectActivities(ID);
        Project temp = _projectService.GetProject(ID);
        temp.ProjectActivities = Activitieslist;
        _project = _projectService.GetProject(ID);
    }

    public void PopAddActivity()
    {
        _addProjectActivitytoemployee.Showing();
    }

}