@page "/Projektübersicht/Projektedit"
@page "/Projektübersicht/Projektedit/{ID:int}"

@using AVATI.Data
@inject IProjektService _projectService
@inject NavigationManager _navigationManager
@inject IProjectActivityService _projectActivity
@inject EmployeeServiceSimple _employeeService

<AddFieldToProject              @ref="_addFieldToProject" Abstract="@this"/>             
<AddProjectActivityToProject   @ref="_addProjectActivityToProject" Abstract="@this"/> 
<AddEmployeeToProject           @ref="_addEmployeeToProject" Abstract="@this"/>          
<PopAddProjectPurposeToProject  @ref="_popAddProjectPurpose" Abstract="@this"/>           

@if (Loading)
{
    <div class="d-flex flex-column align-items-center justify-content-center">
        <div class="row">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="row">
            <strong>Lade...</strong>
        </div>
    </div>
}
else
{
    <EditForm Model="@Project" OnValidSubmit="@Save">
    <DataAnnotationsValidator/>

    <div class="container col h-100">
        <div class="row col h-100">
            <div class="text-left col">
                <div class="column">
                    <h3 class="text-lg-left font-weight-bold">Projekt Bearbeiten</h3>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label font-weight-bold" value="@Project.Projecttitel">Projekttitel</label>
                        <div class="col-sm-9">
                            <InputText id="projekttitel" class="form-control" @bind-Value="Project.Projecttitel"></InputText>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label font-weight-bold">Projektbeschreibung</label>
                        <div class="col-sm-9">
                            <textarea id="projektbeschreibung" class="form-control" rows="3" @bind="Project.Projectdescription"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label font-weight-bold">Branchen</label>
                        <div class="col-sm-6 col-form-label">
                            <div class="list-group border-dark border overflow-auto mr-3" style="max-height: 200px">
                                @if (!_projectService.GetAllFieldsFromOneProject(ID).Any())
                                {
                                    <button class="btn btn-outline-dark">[Keine Branche dem Projekt zugewiesen]</button>
                                }
                                @foreach (var branche in _projectService.GetAllFieldsFromOneProject(ID))
                                {
                                    <button class="btn btn-outline-dark">@branche</button>
                                }
                                <button class="btn btn-info" @onclick="() => PopAddFieldToProject()">
                                    <span class="oi oi-pencil" title="Edit" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label font-weight-bold">Projektanfang</label>
                        <div class="col-sm col-form-label">
                            <div class="row col input-group" id="datetimepicker1">
                                <InputDate class="form-control col-3" @bind-Value="@Project.Projectbeginning"></InputDate>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label font-weight-bold">Projektende</label>
                        <div class="col-sm col-form-label">
                            <div class="row col">
                                <InputDate class="form-control col-3" @bind-Value="@Project.Projectend"></InputDate>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label font-weight-bold">Mitarbeiter</label>
                    <table class="table border-primary col">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 50%">Mitarbeiter</th>
                            <th>
                                <div class="form-group text-right">
                                    <button type="button" class="btn btn-info text-right" @onclick="() => { PopAddEmployeeToProject(ID); }">+ Mitarbeiter</button>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (!Project.Employees.Any())
                        {
                            <tr>
                                <td>[Weisen Sie Mitarbeiter dem Projekt zu!]</td>
                                <td></td>
                            </tr>
                        }
                        @foreach (var emp in Project.Employees)
                        {
                            <tr>
                                <td>@emp.FirstName @emp.LastName</td>
                                <td>
                                    <button type="button" class="btn btn-danger" @onclick="() => { DeleteFromProject(emp); }">
                                        <span class="oi oi-trash" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>


                <div class="form-group row">
                    <label class="col-sm-3 col-form-label font-weight-bold">Projekttätigkeiten</label>
                    <table class="table border-primary col">
                        <thead>
                        <th scope="col">Projekttätigkeiten</th>
                        <th class="text-center" scope="col">Zugewiesene Mitarbeiter</th>
                        <th scope="col">
                            <div class="form-group text-right">
                                <button type="button" class="btn btn-info text-right" @onclick="(() => { PopAddActivity(ID); })">+ Projekttätigkeit</button>
                            </div>
                        </th>
                        </thead>
                        <tbody>
                        @if (!_projectActivity.GetProjectActivitiesProject(ID).Any())
                        {
                            <tr>
                                <td>[Weisen Sie passende Projekttätigkeiten dem Projekt zu!]</td>
                                <td></td>
                                <td></td>
                            </tr>
                        }
                        @foreach (var activ in _projectActivity.GetProjectActivitiesProject(ID))
                        {
                            <tr>
                                <td>@activ.Description</td>
                                @if (Project.Employees.Find(x => x.EmployeeID == activ.EmployeeID) == null)
                                {
                                    <td class="text-center">[kein zugewiesener Mitarbeiter]</td>
                                }
                                else
                                {
                                    <td>@Project.Employees.Find(x => x.EmployeeID == activ.EmployeeID)</td>
                                }
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label font-weight-bold">Projektzwecke</label>
                    <table class="table border-primary col">
                        <thead>
                        <th scope="col">Projektzwecke</th>
                        <th class="text-center" scope="col">Gelöst durch...</th>
                        <th scope="col">
                            <div class="form-group text-right">
                                <button type="button" class="btn btn-info text-right" @onclick="(() => {  })">+ Projektzweck</button>
                            </div>
                        </th>
                        </thead>
                        <tbody>
                        @if (!Project.Projectpurpose.Any())
                        {
                            <tr>
                                <td>[Fügen Sie neue Projektzwecke hinzu!]</td>
                                <td></td>
                                <td></td>
                            </tr>
                        }
                        @foreach (var purpose in Project.Projectpurpose)
                        {
                            <tr>
                                <td>@purpose.Purpose</td>
                                @if (purpose.AssignedProjectActivity == null)
                                {
                                    <td>[Keine Projekttätigkeit zugewiesen!]</td>
                                }
                                else
                                {
                                    <td>@purpose.AssignedProjectActivity.Description</td>
                                }
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>


                <div class="form-group text-right">
                    <a href="/Projektübersicht" class="sm form-label">
                        <button type="button" class="btn btn-danger" data-dismiss="container">
                            <span class="oi oi-circle-x" aria-hidden="true"></span> Abbrechen
                        </button>
                    </a>
                    <a href="/Projektübersicht" class="sm form-label">
                        <button type="button" class="btn btn-success" @onclick="(() => { Save(); })">
                            <span class="oi oi-document" aria-hidden="true"></span> Speichern
                        </button>
                    </a>
                </div>
            </div>
        </div>
        </div>
</EditForm>
}


@code {
    private Project Project { get; set; } = new Project();
    
    AddFieldToProject _addFieldToProject;
    AddProjectActivityToProject _addProjectActivityToProject;
    AddEmployeeToProject _addEmployeeToProject;
    PopAddProjectPurposeToProject _popAddProjectPurpose;

    public List<ProjectActivity> Activitieslist { get; set; } = new List<ProjectActivity>();


    
    [Parameter]
    public int ID { get; set; }

    private bool Loading = false;
    public DateTime time { get; set; }
    public string field { get; set; }
    public List<string> FieldstoDisplay { get; set; }
    private void Save()
    {
        Project.ProjectID = ID;
        _projectService.UpdateProject(Project);
    }

    public void PopAddFieldToProject()
    {
        _addFieldToProject.Showing(ID);
    }

    public void PopAddProjectActivity(int ID)
    {
        _addProjectActivityToProject.Showing(ID);
    }

    protected override void OnInitialized()
    {
        Activitieslist = _projectActivity.GetProjectActivitiesProject(ID);
        Project = _projectService.GetProject(ID);
    }

    public void PopAddActivity(int ID)
    {
        _addProjectActivityToProject.Showing(ID);
    }

    public async void PopAddEmployeeToProject(int ID)
    {
        Loading = true;
        await _addEmployeeToProject.Showing(ID);
        Loading = false;
        StateHasChanged();

    }

    public void DeleteFromProject(Employee emp)
    {
        Project.Employees.Remove(emp);
    }

    public void AddProjectPurposeToProject(int ProjectID)
    {
        _popAddProjectPurpose.Showing(ID);
    }
    
    public void Update()
    {
        Activitieslist = _projectActivity.GetProjectActivitiesProject(ID);
        Project = _projectService.GetProject(ID);
        StateHasChanged();
    }
    
    
    

}