@page "/Projektübersicht/ProjectDetailedView"
@page "/Projektübersicht/ProjectDetailedView/{ID:int}"

@using AVATI.Data

@inject ProjectPurposeService _projectPurpose
@inject IProjectActivityService _activity
@inject IProjektService _projectService
@inject IProjectActivityService _projectActivity
@inject IEmployeeService _employeeService

<div class="container">
    <div class="row">
        <div class="col-sm-6 mb-4 align-content-center">
            <div class="card mb-4 border-dark" style="width: auto; background-color: #86cfda">
                <div class="card-body text-center">
                    <h4 class="card-title">@_project.Projecttitel</h4>
                    <label class="text">@_project.Projectdescription</label>
                </div>
            </div>
            <div class="card mb-4 border-dark " style="width: auto">
                <div class="card-body">
                    <h4 class="card-title text-xl-center">Mitarbeiter</h4>
                    <table class="table table-hover">
                        <thead style="background-color: #c3e6cb;">
                        <tr>
                            <th scope="col">Vorname</th>
                            <th scope="col">Nachname</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (!_project.Employees.Any())
                        {
                            <tr>
                                <td>[Kein Mitarbeiter vorhanden]</td>
                                <td></td>
                            </tr>
                        }
                        @foreach (var emp in _project.Employees)
                        {
                            <tr>
                                <td>@emp.FirstName</td>
                                <td>@emp.LastName</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mb-4 border-dark " style="width: auto">
                <div class="card-body">
                    <h4 class="card-title text-xl-center">Projekttätigkeiten</h4>
                    <table class="table table-hover">
                        <thead style="background-color: #c3e6cb;">
                        <tr>
                            <th scope="col">Tätigkeit</th>
                            <th scope="col">Zugewiesener Mitarbeiter</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (!_project.ProjectActivities.Any())
                        {
                            <tr>
                                <td>[Keine Tätigkeiten vorhanden]</td>
                                <td></td>
                            </tr>
                        }
                        @foreach (var activity in _activitesGroupedemp.Keys)
                        {
                            <tr>
                                <td>@activity</td>
                                    @if (_activitesGroupedemp[activity].Any())
                                    {
                                        <ul>
                                            @foreach (var employeeId in _activitesGroupedemp[activity])
                                            {
                                                var employee = _employeeService.GetEmployeeProfile(employeeId);
            
                                                <li>@employee.FirstName @employee.LastName</li>
                                            }
                                        </ul>
                                    }
                                    else
                                    {
                                        <a>[Kein Mitarbeiter hat sich zugewiesen!]</a>
                                    }
                            </tr>
                        }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-4 align-content-center">
            <div class="card mb-4 border-dark" style="width:auto;">
                <div class="card-body">
                    <h4 class="card-title text-xl-center">Branchen</h4>
                    <table class="table table-hover text-center">
                        <thead style="background-color: #c3e6cb;">
                        <tr>
                            <th scope="col">Titel</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (!_project.Fields.Any())
                        {
                            <tr>
                                <td>[Keine Branchen dem Projekt zugewiesen]</td>
                            </tr>
                        }
                        @foreach (var field in _project.Fields)
                        {
                            <tr>
                                <td>@field</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mb-4 border-dark" style="width: auto;">
                <div class="card-body">
                    <h4 class="card-title text-xl-center">Projektlaufzeit</h4>
                    <table class="table border-dark">
                        <thead style="background-color: #c3e6cb;">
                        <tr>
                            <th scope="col" class="text-center">Projektanfang</th>
                            <th scope="col" class="text-center">Projektende</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-center">@_project.Projectbeginning.ToString("dd.MM.yy")</td>
                            <td class="text-center">@_project.Projectend.ToString("dd.MM.yy")</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mb-4 border-dark" style="width:auto;">
                <div class="card-body">
                    <h4 class="card-title text-xl-center">Projektzwecke</h4>
                    <table class="table table-hover text-center">
                        <thead style="background-color: #c3e6cb;">
                        <tr>
                            <th scope="col">Zweck</th>
                            <th scope="col">Lösung durch folgende Tätigkeit</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (!_projectPurpose.GettAllPurposesFromProject(ID).Any())
                        {
                            <tr>
                                <td>[Keine Projektzwecke vorhanden]</td>
                                <td></td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var purpose in _projectPurpose.GettAllPurposesFromProject(ID))
                            {
                                <tr>
                                    <td>@purpose.Purpose</td>
                                    @if (_projectActivity.GetProjectActivityForPurpose(purpose.Purpose) == null)
                                    {
                                        <td>[Noch durch keine Projekttätigkeit gelöst!]</td>
                                    }
                                    else
                                    {
                                        <td>@_projectActivity.GetProjectActivityForPurpose(purpose.Purpose)</td>
                                    }
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group text-right">
        <a href="/Projektübersicht" class="sm form-label">
            <button type="button" class="btn btn-info">
                <span class="oi oi-document" aria-hidden="true"></span> Zurück zur Übersicht
            </button>
        </a>
    </div>
</div>


@code {

    [Parameter]
    public int ID { get; set; }

    public Project _project { get; set; }

    private Dictionary<string, List<int>> _activitesGroupedemp;

    protected override void OnInitialized()
    {
        _activitesGroupedemp = _projectActivity.GetActivitiesWithEmployeesGrouped(ID);
        _project = _projectService.GetProject(ID);
        _project.ProjectActivities = _activity.GetActivitiesDesOfProject(ID);
    }

}