@page "/"
@using Team12.Data

<h1>Mitarbeitendenübersicht, Team 12</h1>
<p>Hier sind alle Mitarbeiter des Projekts zu finden</p>
<div class="card-group">
    <EmployeeShortcard Employee="@(new Employee{Firstname = "Tobias", Lastname = "Mayr", Day_of_Birth = DateTime.Parse("11.12.1999"), Fin_Projects = new string[]{"Projekt1", "Projekt2"}})"/>
    <EmployeeShortcard Employee="@(new Employee{Firstname = "Anton", Lastname = "Huber", Day_of_Birth = DateTime.Parse("28.05.1998"), Fin_Projects = new string[]{"Projekt1", "Projekt2"}})"/>
    <EmployeeShortcard Employee="@(new Employee{Firstname = "Alex", Lastname = "Kaistra", Day_of_Birth = DateTime.Parse("19.11.1998"), Fin_Projects = new string[]{"Projekt1", "Projekt2"}})"/>
    <EmployeeShortcard Employee="@(new Employee{Firstname = "Victoria", Lastname = "Kuch", Day_of_Birth = DateTime.Parse("16.03.2000"), Fin_Projects = new string[]{"Projekt1", "Projekt2"}})"/>
    <EmployeeShortcard Employee="@(new Employee{Firstname = "Ismail", Lastname = "Guersoez", Day_of_Birth = DateTime.Parse("09.11.1997"), Fin_Projects = new string[]{"Projekt1", "Projekt2"}})"/>
</div>