@page "/profile/update"
@page "/profile/update/{id:int}"
@using AVATI.Data
@using Blazorise
@using System.Text.RegularExpressions
@inject IProjektService _projektService
@inject IEmployeeService _employee
@inject NavigationManager _navManager
@inject ProjectServiceSimple _projectServiceSimple

<AddFieldToProfile @ref="_addFieldToProfile"/>


<h3>Profil</h3>

<!------ Gets Employee with the same Id as the Router Parameter ---------->
<EditForm Model="Emp" OnValidSubmit="@EditProfiles">


<div class="row">
    <!------ Change Profile Image ---------->
    <div class="col-md-4">
        <div style="" class="profile-img">
            <img src="https://www.geniale-tipps.de/images/t/whatsapp-profilbild-grau.jpg" style="margin-left: -45px" width="300" height="200" alt=""/>
            <div class="file btn btn-lg btn-primary" style="margin-top: 50px; margin-left: -30px">
                Change Photo
                <input type="file" name="file"/>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="profile-head">

            <!------ Name ---------->
            <div class="row-md-4 mb-3">
                <label for="validationServer01">First name</label>
                <input type="text" class="form-control" @bind-value="Emp.FirstName" placeholder="@Emp.FirstName" required>
            </div>
            <div class="row-md-4 mb-3">
                <label for="validationServer02">Last name</label>
                <input type="text" class="form-control" @bind-value="Emp.LastName" placeholder="@Emp.LastName" required>
            </div>
        </div>
    </div>

    <!------ Edit Profile Button ---------->
    <div class="col-md-2">
        <a href="/profile/@Emp.EmployeeId">
            <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Bestätigen"/>
        </a>
    </div>
</div>


<form>
<!------ Employment Time ---------->
<div class="form-row">
    <div class="col-md-6 mb-3">
        <label for="validationServer03">Beschäftigungszeit</label>
        <input type="date" class="form-control" @bind-value="@Emp.EmploymentTime" placeholder="max.mustermann@mail.com" required>
        <div class="invalid-feedback">
            Please provide a valid city.
        </div>
    </div>

    <!------ RC-Level ---------->
    <div class="col-md-3 mb-3">
        <label for="validationServer04">Rate-Card Level</label>
        <input class="form-control col-4" min="1" max="12" type="number" @bind=@_changeValue id="example-number-input"/>
    </div>
</div>

<!------ Skills ---------->
<div class="form-col">

    <!------ Hard Skills ---------->
    <div class="form-row">
        <div class="card-body text-center">
            <div class="form-row">
                <div class="col">
                    <label class="card-title font-weight-light lead text-center" id="title" @onclick="(() => { CollHardSkill(); })">Hard Skills</label>
                </div>
                <div class="col">
                    <a href="">
                        <button class="btn btn-secondary">
                            Bearbeiten
                        </button>
                    </a>
                </div>
            </div>
            <div class="card-text @(_booleanHardSkill ? "" : "collapse")">
                <table class="table table-striped">
                    <tr>
                        <th>Hard Skills</th>
                    </tr>
                    @foreach (var hardskill in Emp.Hardskills)
                    {
                        <tr>
                            <td>@hardskill.Description</td>

                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
    <!------ Soft Skills ---------->
    <div class="form-row">
        <div class="card-body text-center">
            <div class="form-row">
                <div class="col">
                    <label class="card-title font-weight-light lead text-center" id="title" @onclick="(() => { CollSoftSkill(); })">Soft Skills</label>
                </div>
                <div class="col">
                    <a href="">
                        <button class="btn btn-secondary">
                            Bearbeiten
                        </button>
                    </a>
                </div>
            </div>
            <div class="card-text @(_booleanSoftSkill ? "" : "collapse")">
                <table class="table table-striped">
                    <tr>
                        <th>Soft Skills</th>
                    </tr>
                    @foreach (var softskill in Emp.Softskills)
                    {
                        <tr>
                            <td>@softskill</td>

                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <!------ Rollen ---------->
    <div class="form-row">
        <div class="card-body text-center">
            <div class="form-row">
                <div class="col">
                    <label class="card-title font-weight-light lead text-center" id="title" @onclick="(() => { CollRole(); })">Rollen</label>
                </div>
                <div class="col">
                    <a href="">
                        <button class="btn btn-secondary">
                            Bearbeiten
                        </button>
                    </a>
                </div>
            </div>
            <div class="card-text @(_booleanRole ? "" : "collapse")">
                <table class="table table-striped">
                    <tr>
                        <th>Roles</th>
                    </tr>
                    @foreach (var roles in Emp.Roles)
                    {
                        <tr>
                            <td>@roles</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>


<div class="form-col">
    <!------ Fields ---------->

    <!------ <div class="form-group row">
        <label class="col-sm-2 col-form-label">Branchen</label>
        <div class="col-sm-8 col-form-label">
            <input class="form-control" type="text" value="@String.Join(" | ", _projectServiceSimple.GetAllFieldsFromOneProject(Id).ToArray())" placeholder="" readonly/>
            <div><button class="btn btn-info" @onclick="() => PopAddFieldToProfile()">Add Branchen</button> </div>
        </div>
    </div> ---------->

    <div class="form-row">
        <div class="card-body text-center">
            <div class="form-row">
                <div class="col">
                    <label class="card-title font-weight-light lead text-center" id="title" @onclick="(() => { CollField(); })">Branchenwissen</label>
                </div>
                <div class="col">

                    <button class="btn btn-secondary" @onclick="() => PopAddFieldToProfile()">
                        Bearbeiten
                    </button>

                </div>
            </div>
            <div class="card-text @(_booleanField ? "" : "collapse")">
                <ul class="list-group list-group-flush text-left">
                    @if (Emp.Field.Any())
                    {
                        foreach (var field in Emp.Field)
                        {
                            <li class="list-group-item text-center">
                                @field
                            </li>
                        }
                    }
                    else
                    {
                        <li>

                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <!------ Relevant Work Experience ---------->
    <div class="form-row">
        <div class="card-body text-center">
            <div class="form-row">
                <div class="col">
                    <label class="card-title font-weight-light lead text-center" id="title" @onclick="(() => { CollWork(); })">Relevante Berufserfahrung</label>
                </div>
                <div class="col">
                    <a href="">
                        <button class="btn btn-secondary">
                            Bearbeiten
                        </button>
                    </a>
                </div>
            </div>
            <div class="card-text @(_booleanWork ? "" : "collapse")">
                <ul class="list-group list-group-flush text-left">
                    @if (Emp.RelevantWorkExperience.Any())
                    {
                        foreach (var work in Emp.RelevantWorkExperience)
                        {
                            <li class="list-group-item border-dark bg-light font-weight-bold text-black text-center">
                                @work
                            </li>
                        }
                    }
                    else
                    {
                        <li>

                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <!------ Languages ---------->
    <div class="form-row">
        <div class="card-body text-center">
            <div class="form-row">
                <div class="col">
                    <label class="card-title font-weight-light lead text-center" id="title" @onclick="(() => { CollLang(); })">Sprachen</label>
                </div>
                <div class="col">
                    <a href="">
                        <button class="btn btn-secondary">
                            Bearbeiten
                        </button>
                    </a>
                </div>
            </div>
            <div class="card-text @(_booleanLang ? "" : "collapse")">
                <table align="left" style="text-align: left" class="table align-middle">
                    <tr>
                        <th class="text-left">Sprache</th>
                        <th class="text-center">Sprachniveau</th>
                    </tr>
                    @if (Emp.Language.Any())
                    {
                        foreach (var lang in Emp.Language)
                        {
                            <tr>
                                <td class="text-left">@lang.Item1</td>
                                <td class="text-center">@lang.Item2</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
<!------ Projects ---------->
<div class="form-row">
    <div class="card-body text-center">
        <div class="form-row">
            <div class="col">
                <label class="card-title font-weight-light lead text-center" id="title" @onclick="(() => { CollProj(); })">Projekte</label>
            </div>
            <div class="col">
                <a href="/employeeProject/@Emp.EmployeeId">
                    <button class="btn btn-secondary">
                        Bearbeiten
                    </button>
                </a>
            </div>
        </div>
        <div class="card-text @(_booleanProj ? "" : "collapse")">
            <table align="left" style="text-align: left" class="table align-middle">
                <tr>
                    <th class="text-left">Projekt</th>
                    <th class="text-center">Projekttätigkeit</th>
                </tr>

                @if (Emp.Projects.Any())
                {
                    foreach (var project in Emp.Projects)
                    {
                        <tr>
                            <td class="text-left">@project.Projecttitel</td>
                            <td class="text-center">Projecttätigkeit</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
</form>
</EditForm>


@code {

    AddFieldToProfile _addFieldToProfile;

    [Parameter]
    public int Id { get; set; }


    protected override void OnInitialized()
    {
        Emp = _employee.GetEmployeeProfile(Id);
    }


    public void EditProject()
    {
        _navManager.NavigateTo("/employeeProject/@Emp.EmployeeId");
    }


    public void EditProfiles()
    {
        _employee.EditEmployeeProfile(Emp);
        _navManager.NavigateTo("profile/" + Emp.EmployeeId);
    }


    private bool _booleanLang = false;
    private bool _booleanProj = false;
    private bool _booleanField = false;
    private bool _booleanHardSkill = false;
    private bool _booleanSoftSkill = false;
    private bool _booleanRole = false;
    private bool _booleanWork = false;
    private int _changeValue;
    //private bool _booleanName;


    Employee Emp = new Employee()
    {
        FirstName = "Ismail", LastName = "Gürsöz", Roles = new List<string>() {"Programming"}, Hardskills = new List<Hardskill>()
        {
            new Hardskill {Description = "JavaScript", Subcat = null, Uppercat = null, Height = 0},
            new Hardskill {Description = "CSS", Subcat = null, Uppercat = null, Height = 0}
        },
        Softskills = new List<string>() {"Teamleading"}
    };


    public void CollLang()
    {
        _booleanLang = !_booleanLang;
    }


    public void CollProj()
    {
        _booleanProj = !_booleanProj;
    }


    public void CollField()
    {
        _booleanField = !_booleanField;
    }


    public void CollHardSkill()
    {
        _booleanHardSkill = !_booleanHardSkill;
    }


    public void CollSoftSkill()
    {
        _booleanSoftSkill = !_booleanSoftSkill;
    }


    public void CollRole()
    {
        _booleanRole = !_booleanRole;
    }


    public void CollWork()
    {
        _booleanWork = !_booleanWork;
    }


    public void Check()
    {
        var regexItem = new Regex("^[a-zA-Z]*$");
        if (regexItem.IsMatch(Emp.FirstName) || regexItem.IsMatch(Emp.LastName))
        {
            return;
        }

        EditProfiles();
    }

    public void PopAddFieldToProfile()
    {
        _addFieldToProfile.Showing();
    }

}