@page "/profile"
@page "/profile/{Id:int}"
@using AVATI.Data
@inject NavigationManager _navManager
@inject IEmployeeService _employee
@inject IProjectActivityService _projctActivityService
@inject IProjektService _projektService


<h3 class="text-left">Profil</h3>

<div class="container backdrop emp-profile">
    <form>

        <div class="row">
            <div class="col-md-4">
                <div style="margin-top: -5%; border-radius: 80%" class="profile-img">
                    <img class="rounded" src="https://www.geniale-tipps.de/images/t/whatsapp-profilbild-grau.jpg" style="margin-left: -45px" width="300" height="200" alt=""/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="rounded-3 profile-head">
                    <div style="margin-left: 12px" class="form-group text-left">

                        <!------ Name ---------->
                        <h6 style="color: black">
                            @Emp.FirstName @Emp.LastName
                        </h6>

                        <!------ RC-Level ---------->
                        <p class="proile-rating">RateCard : <span>@Emp.Rc</span></p>

                        <!------ Employment Time ---------->
                        <p style="color: #000;margin-top: -7px">Beschäftigt seit: @Emp.EmploymentTime.ToShortDateString()</p>

                        <p style="color: #000;margin-top: -7px">Relevante Berufserfahrung: @(Emp.RelevantWorkExperience * 100)%</p>

                    </div>
                </div>
            </div>

            <!------ Edit Profile Button ---------->
            <div class="col-md-2">
                <a href="profile/update/@Emp.EmployeeID">
                    <input class="profile-edit-btn" name="btnAddMore" value="Profil bearbeiten"/>
                </a>
            </div>
        </div>


        <!------ Skills ---------->
        <div class="row rounded ">

            <div style="border-color: black" class="col-md-4 backdrop form-group rounded">

                <div style="margin-top: 50px; border-width: medium; color: black" class="dropdown-divider">Skills</div>
                <div class="form-group  text-left">

                    <!------ Hard Skills ---------->
                    <div class="card-body small text-left">
                        <div class="card-title medium font-weight-light lead text-left" id="title" @onclick="(() => { CollHardSkill(); })">Hard Skills</div>
                        <div class="card-text @(_booleanHardSkill ? "" : "collapse")">
                            <table class="table table-striped">
                                <tr>
                                    <th></th>
                                </tr>
                                @foreach (var hardskill in Emp.HardSkillLevel)
                                {
                                    <tr>
                                        <td>@hardskill.Item1.Description | @hardskill.Item2</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>

                    <div style=" border-width: medium; color: black" class="dropdown-divider"></div>

                    <!------ Soft Skills ---------->
                    <div class="card-body small text-left">
                        <div class="card-title medium font-weight-light lead text-left" id="title" @onclick="(() => { CollSoftSkill(); })">Soft Skills</div>
                        <div class="card-text @(_booleanSoftSkill ? "" : "collapse")">
                            <table class="table table-striped">
                                <tr>
                                    <th></th>
                                </tr>
                                @foreach (var softskill in Emp.Softskills)
                                {
                                    <tr>
                                        <td>@softskill</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>

                    <div style=" border-width: medium; color: black" class="dropdown-divider"></div>

                    <!------ Rollen ---------->
                    <div class="card-body small text-left">
                        <div class="card-title medium font-weight-light lead text-left" id="title" @onclick="(() => { CollRole(); })">Rollen</div>
                        <div class="card-text @(_booleanRole ? "" : "collapse")">
                            <ul class="list-group mb-3 text-left">
                                <li class="list-group-item mb-1">
                                    @string.Join(" | ", Emp.Roles)
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            
            <div style="border-color: black" class="form-group backdrop rounded col-md-8">
                <div style="margin-top: 50px; border-width: medium; color: black" class="dropdown-divider"></div>

                <!------ Fields ---------->
                <div class="form-row">
                    <div class="card-body backdrop small text-left">
                        <div class="card-title medium font-weight-light lead text-left" id="title" @onclick="(() => { CollField(); })">Branchenwissen</div>
                        <div class="card-text @(_booleanField ? "" : "collapse")">
                            <ul class="list-group mb-3 text-left">
                                <li class="list-group-item mb-1">
                                    @string.Join(" | ", Emp.Field)
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div style=" border-width: medium; color: black" class="dropdown-divider"></div>

                <!------ Languages ---------->
                <div class="card-body small rounded text-left">
                    <div class="card-title medium font-weight-light lead text-left" id="title" @onclick="(() => { CollLang(); })">Sprachen</div>
                    <div class="card-text @(_booleanLang ? "" : "collapse")">
                        @if (Emp.Language.Any())
                        {
                            <table align="left" style="text-align: left" class="table align-middle">
                                <tr>
                                    <th class="text-left">Sprache</th>
                                    <th class="text-center">Sprachniveau</th>
                                </tr>
                                @foreach (var lang in Emp.Language)
                                {
                                    <tr>
                                        <td class="text-left">@lang.Item1</td>
                                        <td class="text-center">@lang.Item2</td>
                                    </tr>
                                }
                            </table>
                        }
                        else
                        {
                            <p>Scheint nichts hier zu sein.</p>
                        }
                    </div>
                </div>

                <div style=" border-width: medium; color: black" class="dropdown-divider"></div>

                <!------ Projects ---------->
                <div class="card-body backdrop small text-left">
                    <div class="card-title medium font-weight-light lead text-left" id="title" @onclick="(() => { CollProj(); })">Projekte</div>
                    <div class="card-text @(_booleanProj ? "" : "collapse")">
                        <table align="left" style="text-align: left" class="table align-middle">
                            <tr>
                                <th class="text-left">Projekt</th>
                                <th class="text-left">Projekttätigkeit</th>
                            </tr>
                        @if (_projctActivityService.GetProjectActivityListEmployee(Id).Any())
                        {
                            
                                foreach (var activity in _projctActivityService.GetProjectActivityListEmployee(Id))
                                {
                                    @if( activity.EmployeeID == Id)
                                    {
                                        <tr>
                                        <td class="text-left">@activity.ProjectID</td>
                                        <td class="text-left">@activity.Description</td>
                                    </tr>
                                        
                                    }
                                }
                            }
                            else
                            {
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                            } 
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


@code {


    private bool _booleanLang = false;
    private bool _booleanProj = false;
    private bool _booleanField = false;
    private bool _booleanHardSkill = false;
    private bool _booleanSoftSkill = false;
    private bool _booleanRole = false;
    private bool _booleanWork = false;

    [Parameter]
    public int Id { get; set; } 
    
    public List<ProjectActivity> ActivityList { get; set; }


    Employee Emp = new Employee()
    {
        FirstName = "Ismail", LastName = "Gürsöz", Roles = new List<string>() {"Programming"}, Hardskills = new List<Hardskill>()
        {
            new Hardskill
            {
                Description = "JavaScript", Subcat = null, Uppercat = null, Height = 0
            },
            new Hardskill {Description = "CSS", Subcat = null, Uppercat = null, Height = 0}
        },
        Softskills = new List<string>() {"Teamleading"}
    };

    protected override void OnInitialized()
    {
        Emp = _employee.GetEmployeeProfile(Id); 
    }

    public void CollLang()
    {
        _booleanLang = !_booleanLang;
    }

    public void CollProj()
    {
        _booleanProj = !_booleanProj;
    }

    public void CollField()
    {
        _booleanField = !_booleanField;
    }

    public void CollHardSkill()
    {
        _booleanHardSkill = !_booleanHardSkill;
    }

    public void CollSoftSkill()
    {
        _booleanSoftSkill = !_booleanSoftSkill;
    }

    public void CollRole()
    {
        _booleanRole = !_booleanRole;
    }

    public void CollWork()
    {
        _booleanWork = !_booleanWork;
    }




}