@page "/BasicDataAbstract"
@using AVATI.Data
@using Blazorise
@using Microsoft.AspNetCore.Http

@inject IBasicDataService _basicDataService
@inject IHardskillService _hardskillService
@inject IHttpContextAccessor _httpContextAccessor
@inject NavigationManager _navigationManager

<AuthorizeView Roles="Administrator, SalesStaff">
<NotAuthorized>
    @if (true)
    {
        _navigationManager.NavigateTo("/profile");
    }
</NotAuthorized>
<Authorized Context="authContext">


<h1>
    <b>Basisdaten</b> <small>Hier können Sie Basisdaten hinzugefügen, editieren und löschen</small>
</h1>
<hr/>

<EditBasicData @ref="_editBasicData" OldDescription="@Description" Type="@Type" Abstract="@this"/>
<DeleteConfirmation @ref="_deleteConfirmation" Description="@Description" Type="@Type" Abstract="@this"/>
<CreateBasicData @ref="_createBasicData" Type="@Type" Abstract="@this"/>

<CreateHardskill @ref="_createHardskill" Abstract="@this"/>
<EditHardskill @ref="_editHardskill" OldHardskill="@Hardskill" Abstract="@this"/>

<AddHardskills @ref="_createCat" Description="" Abstract="@this"/>

<h3 class="cap">
    <b>Skills</b>
</h3>
<table class="table mb-5">
    <caption>
        <h4 style="display: inline;">
            <b>Softskills</b>
        </h4>
        <div class="btn-group float-right mr-4">
            <button id="BlendinoutSoftskill" style="display: inline;" class="@(_show[0] ? "btn btn-default" : "btn btn-default")" @onclick="() => Showing(0)">
                @if (_show[0])
                {
                    <a><MudIcon Icon="@Icons.Filled.ExpandLess"/> Ausblenden</a>
                }
                else
                {
                    <a><MudIcon Icon="@Icons.Filled.ExpandMore"/> Einblenden</a>
                }
            </button>
            <button id="CreateSoftskill" style="display: inline;" class="btn btn-success" @onclick="() => PopCreateBasicData(BasicDataType.SoftSkill)">
                <MudIcon Icon="@Icons.Filled.Add"/> Hinzufügen
            </button>
        </div>
    </caption>


    @if (_show[0])
    {
        <div class="form-group row">
            <div class="form-group col-6">
                <input id="FilterSoftskill" class="form-group form-control" type="text" placeholder="Suche nach Softskillbezeichnung..."
                       @bind="Filter[0]"
                       @bind:event="oninput">
            </div>
        </div>
        if (_softskills.Any(x => IsVisible(x, 0)))
        {
            <tr>
                <th>Bezeichnung</th>
                <th></th>
                <th></th>
            </tr>

            var count = 0;

            foreach (string softskill in _softskills)
            {
                if (!IsVisible(softskill, 0))
                    continue;
                <tr class="@(count % 2 == 0 ? "grey" : "white")">
                    <td id="S @softskill">@softskill</td>
                    <td class="smalltd">
                        <button class="btn btn-info" id="EditS @softskill" @onclick="() => PopEditBasicData(softskill, BasicDataType.SoftSkill)">
                            <a>
                                <MudIcon Icon="@Icons.Filled.Brush"/> <a style="display: inline;"> Editieren</a>
                            </a>
                        </button>
                    </td>
                    <td class="smalltd">
                        <button class="btn btn-danger" id="DeleteS @softskill" @onclick="() => PopDelete(softskill, BasicDataType.SoftSkill)">
                            <a>
                                <MudIcon Icon="@Icons.Filled.Delete"/> <a style="display: inline;"> Löschen</a>
                            </a>
                        </button>
                    </td>
                </tr>
                ++count;
            }
        }
        else
        {
            <tr>
                <td style="color: #818181;">Kein Softskill gefunden</td>
            </tr>
        }
    }
</table>

<hr/>

<table class="table mb-5 ">
    <caption>
        <h4 style="display: inline;">
            <b>Hardskills</b>
        </h4>
        <div class="btn-group float-right mr-4">
            <button id="BlendinoutHardskill" style="display: inline;" class="@(_show[1] ? "btn btn-default" : "btn btn-default")" @onclick="() => Showing(1)">
                @if (_show[1])
                {
                    <a><MudIcon Icon="@Icons.Filled.ExpandLess"/> Ausblenden</a>
                }
                else
                {
                    <a><MudIcon Icon="@Icons.Filled.ExpandMore"/> Einblenden</a>
                }
            </button>
            <button id="CreateHardskill" style="display: inline;" class="btn btn-success " @onclick="PopCreateHardskill">
                <MudIcon Icon="@Icons.Filled.Add"/> Hinzufügen
            </button>
        </div>
    </caption>

    @if (_show[1] && !_loadHardskills)
    {
        <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="row">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="row">
                <strong>Lade...</strong>
            </div>
        </div>
    }
    else if (_show[1])
    {
        <div class="form-group row">
            <div class="form-group col-6">
                <input id="FilterHardskill" class="form-group form-control" type="text" placeholder="Suche nach Hardskillbezeichnung..."
                       @bind="Filter[1]"
                       @bind:event="oninput">
            </div>
        </div>


        <div class="form-group row">
            <div class="form-group col-6">
                <input id="FilterHardskillCategorys" class="form-group form-control" type="text" placeholder="Suche nach Hardskillkategoriebezeichnung..."
                       @bind="Filter[5]" @bind:event="oninput">
            </div>
        </div>
        @if (_hardskills != null && _hardskills.Any(x => IsVisible(x, 1)))
        {
            <tr>
                <th>Bezeichnung</th>
                <th></th>
                <th></th>
            </tr>

            var count = 0;

            foreach (string hardskill in _hardskills)
            {
                if (!IsVisible(hardskill, 1))
                    continue;

                if (!InCategory(hardskill))
                    continue;

                if (!_showUpper.ContainsKey(hardskill))
                {
                    _showUpper.Add(hardskill, false);
                }


                <tr class="@(count % 2 == 0 ? "grey" : "white")" @onmouseover="() => ShowingUpperCat(hardskill)" @onmouseout="() => StopShowingUpperCat(hardskill)">
                    <td id="H @hardskill">@hardskill</td>
                    <td class="smalltd">
                        <button class="btn btn-info" id="EditH @hardskill" @onclick="() => PopEditHardskill(hardskill)">
                            <MudIcon Icon="@Icons.Filled.Brush"/> Editieren
                        </button>
                    </td>
                    <td class="smalltd">
                        <button class="btn btn-danger" id="DeleteH @hardskill" @onclick="() => PopDelete(hardskill, BasicDataType.HardSkill)">
                            <MudIcon Icon="@Icons.Filled.Delete"/> Löschen
                        </button>
                    </td>
                </tr>


                @if (_showUpper[hardskill])
                {
                    <div id="UpperCat @hardskill">
                        <ShowUpperCat Description="@hardskill"/>
                    </div>
                }
                ++count;
            }
        }
        else
        {
            <tr>
                <td style="color: #818181;">Kein Hardskill gefunden</td>
            </tr>
        }
    }
</table>

<hr/>

<table class="table mb-5 ">
    <caption>
        <h4 style="display: inline;">
            <b>Hardskillkategorien</b>
        </h4>
        <div class="btn-group float-right mr-4">
            <button style="display: inline;" class="@(_show[2] ? "btn btn-default" : "btn btn-default")" @onclick="() => Showing(2)">
                @if (_show[2])
                {
                    <a><MudIcon Icon="@Icons.Filled.ExpandLess"/> Ausblenden</a>
                }
                else
                {
                    <a><MudIcon Icon="@Icons.Filled.ExpandMore"/> Einblenden</a>
                }
            </button>
            <button style="display: inline;" class="btn btn-success" @onclick="PopCreateHardskillCat">
                <MudIcon Icon="@Icons.Filled.Add"/> Hinzufügen
            </button>
        </div>
    </caption>

    @if (_show[2] && !_loadCategorys)
    {
        <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="row">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="row">
                <strong>Lade...</strong>
            </div>
        </div>
    }
    else if (_show[2])
    {
        <div class="form-group row">
            <div class="form-group col-6">
                <input id="FilterCategory" class="form-group form-control" type="text" placeholder="Suche nach Hardskillkategoriebezeichnung..."
                       @bind="Filter[2]"
                       @bind:event="oninput">
            </div>
        </div>
        @if (_allRoots != null && _allRoots.Any(x => IsVisible(x, 2)))
        {
            <tr>
                <th>Bezeichnung</th>
                <th></th>
                <th></th>
            </tr>

            var count = 0;

            @foreach (var hardskillcat in _allRoots)
            {
                if (!IsVisible(hardskillcat, 2))
                    continue;


                if (!_showEditCat.ContainsKey(hardskillcat))
                {
                    _showEditCat.Add(hardskillcat, false);
                }

                if (!_showSubCat.ContainsKey(hardskillcat))
                {
                    _showSubCat.Add(hardskillcat, false);
                }

                <tr class="@(count % 2 == 0 ? "grey" : "white")">
                    <td id="C @hardskillcat">@hardskillcat</td>
                    <td class="smalltd">

                        @if (!_showEditCat[hardskillcat])
                        {
                            if (!_showSubCat[hardskillcat])
                            {
                                <button class="btn btn-light border-dark" id="GetView @hardskillcat" @onclick="() => ShowingSubCat(hardskillcat)" type="button">
                                    <MudIcon Icon="@Icons.Filled.ExpandMore"/> Ansicht
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-light border-dark" id="StopView @hardskillcat" @onclick="() => ShowingSubCat(hardskillcat)" type="button">
                                    <MudIcon Icon="@Icons.Filled.ExpandLess"/> Ansicht stoppen
                                </button>
                            }
                        }
                    </td>

                    <td class="smalltd">
                        @if (_showEditCat[hardskillcat])
                        {
                            <button class="btn btn-info" id="FinishEditC @hardskillcat" @onclick="() => ShowingEditCat(hardskillcat)">
                                <MudIcon Icon="@Icons.Filled.CheckCircle"/> Abgeschlossen
                            </button>
                        }
                        else
                        {
                            <button class="btn btn-info" id="EditC @hardskillcat" @onclick="() => ShowingEditCat(hardskillcat)">
                                <MudIcon Icon="@Icons.Filled.Brush"/> Editieren
                            </button>
                        }
                    </td>
                </tr>


                @if (_showEditCat[hardskillcat])
                {
                    <div id="EditTreeDiagram @hardskillcat">
                        <EditTreeDiagram Description="@hardskillcat" Abstract="@this"/>
                    </div>
                }
                else if (_showSubCat[hardskillcat])
                {
                    <div id="TreeDiagram @hardskillcat">
                        <TreeDiagram Description="@hardskillcat"/>
                    </div>
                }
                ++count;
            }
        }
        else
        {
            <tr>
                <td style="color: #818181;">Keine Hardskillkategorie gefunden</td>
            </tr>
        }
    }
</table>


<h3 class="cap">
    <b>Branchen</b>
    <div class="btn-group float-right">

        <button style="display: inline;" class="@(_show[3] ? "btn btn-default" : "btn btn-default")" @onclick="() => Showing(3)">
            @if (_show[3])
            {
                <a><MudIcon Icon="@Icons.Filled.ExpandLess"/> Ausblenden</a>
            }
            else
            {
                <a><MudIcon Icon="@Icons.Filled.ExpandMore"/> Einblenden</a>
            }
        </button>
        <button style="display: inline;" class="btn btn-success" @onclick="() => PopCreateBasicData(BasicDataType.Field)">
            <MudIcon Icon="@Icons.Filled.Add"/> Hinzufügen
        </button>
    </div>
</h3>
@if (_show[3])
{
    <div class="form-group row">
        <div class="form-group col-6">
            <input id="FilterField" class="form-group form-control" type="text" placeholder="Suche nach Branchenbezeichnung..."
                   @bind="Filter[3]"
                   @bind:event="oninput">
        </div>
    </div>
    <table class="table mb-5">
        @if (_fields.Any(x => IsVisible(x, 3)))
        {
            <tr>
                <th>Bezeichnung</th>
                <th></th>
                <th></th>
            </tr>

            var count = 0;

            @foreach (var field in _fields)
            {
                @if (!IsVisible(field, 3))
                    continue;
                <tr class="@(count % 2 == 0 ? "grey" : "white")">
                    <td id="F @field">@field</td>
                    
                    <td class="smalltd">
                        <button id="EditF @field" class="btn btn-info" @onclick="() => PopEditBasicData(field, BasicDataType.Field)">
                            <MudIcon Icon="@Icons.Filled.Brush"/> Editieren
                        </button>
                    </td>
                    <td class="smalltd">
                        <button id="DeleteF @field" class="btn btn-danger" @onclick="() => PopDelete(field, BasicDataType.Field)">
                            <MudIcon Icon="@Icons.Filled.Delete"/> Löschen
                        </button>
                    </td>
                </tr>
                ++count;
            }
        }
        else
        {
            <tr>
                <td style="color: #818181;">Keine Branche gefunden</td>
            </tr>
        }
    </table>
}

<h3 class="cap">
    <b>Rollen</b>
    <div class="btn-group float-right">

        <button style="display: inline;" class="@(_show[4] ? "btn btn-default" : "btn btn-default")" @onclick="() => Showing(4)">
            @if (_show[4])
            {
                <a><MudIcon Icon="@Icons.Filled.ExpandLess"/> Ausblenden</a>
            }
            else
            {
                <a><MudIcon Icon="@Icons.Filled.ExpandMore"/> Einblenden</a>
            }
        </button>
        <button style="display: inline;" class="btn btn-success" @onclick="() => PopCreateBasicData(BasicDataType.Role)">
            <MudIcon Icon="@Icons.Filled.Add"/> Hinzufügen
        </button>
    </div>
</h3>
@if (_show[4])
{
    <div class="form-group row">
        <div class="form-group col-6">
            <input id="FilterRole" class="form-group form-control" type="text" placeholder="Suche nach Rollenbezeichnung..."
                   @bind="Filter[4]"
                   @bind:event="oninput">
        </div>
    </div>
    <table class="table mb-5">
        @if (_roles.Any(x => IsVisible(x, 4)))
        {
            <tr>
                <th>Bezeichnung</th>
                <th></th>
                <th></th>
            </tr>

            var count = 0;

            @foreach (var role in _roles)
            {
                @if (!IsVisible(role, 4))
                    continue;

                <tr class="@(count % 2 == 0 ? "grey" : "white")">
                    <td id="R @role">@role</td>
                    
                    <td class="smalltd">
                        <button class="btn btn-info" id="EditR @role" @onclick="() => PopEditBasicData(role, BasicDataType.Role)">
                            <MudIcon Icon="@Icons.Filled.Brush"/> Editieren
                        </button>
                    </td>
                    <td class="smalltd">
                        <button class="btn btn-danger" id="DeleteR @role" @onclick="() => PopDelete(role, BasicDataType.Role)">
                            <MudIcon Icon="@Icons.Filled.Delete"/> Löschen
                        </button>
                    </td>
                </tr>
                ++count;
            }
        }
        else
        {
            <tr>
                <td style="color: #818181;">Keine Rolle gefunden</td>
            </tr>
        }
    </table>
}
</Authorized>
</AuthorizeView>

@code {
    List<string> _softskills;
    List<string> _fields;
    List<string> _roles;
    List<string> _hardskills;
    List<string> _allRoots;
    Dictionary<string, List<string>> _allCategorys = new();

    CreateBasicData _createBasicData;
    EditBasicData _editBasicData;
    DeleteConfirmation _deleteConfirmation;

    CreateHardskill _createHardskill;
    EditHardskill _editHardskill;

    AddHardskills _createCat;

    //0: Filter for Softskill, 1: Filter for Hardskill, 2: Filter for Hardskillcategory
    //3: Filter for Field, 4: Filter for Role, 5: Filter for Hardskillcategorys at Hardskills
    private string[] Filter { get; set; } = new string[6];

    //0: Show for Softskill, 1: Show for Hardskill, 2: Show for Hardskillcategory
    //3: Show for Field, 4: Show for Role
    private bool[] _show = new bool[5];

    private Dictionary<string, bool> _showEditCat = new();

    private Dictionary<string, bool> _showSubCat = new();

    private Dictionary<string, bool> _showUpper = new();

    private string Description { get; set; }

    private Hardskill Hardskill { get; set; }

    private BasicDataType Type { get; set; }

    private bool _loadHardskills;

    private bool _loadCategorys;

    protected override async Task OnInitializedAsync()
    {
    //if (_httpContextAccessor.HttpContext.Request.Cookies[".AspNetCore.Cookies"] == null)
    //{
    //    _navigationManager.NavigateTo("/Login");
    //}
        _loadCategorys = false;
        _loadHardskills = false;
        for (int i = 0; i < 5; ++i)
        {
            _show[i] = true;
        }
        _softskills = _basicDataService.GetAllSoftSkills();
        _fields = _basicDataService.GetAllFields();
        _roles = _basicDataService.GetAllRoles();
        var hardskills = _hardskillService.GetAllDesHardskills();
        _hardskills = await hardskills;
        var allRoots = _hardskillService.GetAllRoots();
        _allRoots = await allRoots;

        var taskCategorys = _hardskillService.GetAllDesCategorys();
        var categorys = await taskCategorys;

        foreach (var category in categorys)
        {
            var hardskillsOfCategory = _hardskillService.GetHardskillsOfCategory(category);
            _allCategorys.TryAdd(category, await hardskillsOfCategory);
        }

        _loadCategorys = true;
        _loadHardskills = true;
    }

    public async Task UpdateCategorys()
    {
        _loadCategorys = false;
        StateHasChanged();
        var allRoots = _hardskillService.GetAllRoots();
        _allRoots = await allRoots;
        _loadCategorys = true;
        StateHasChanged();
    }

    public async Task UpdateCategorys(string description)
    {
        _loadCategorys = false;
        StateHasChanged();
        Filter[2] = description;
        var allRoots = _hardskillService.GetAllRoots();
        _allRoots = await allRoots;
        _loadCategorys = true;
        StateHasChanged();
    }

    public async Task UpdateHardskills()
    {
        _loadHardskills = false;
        StateHasChanged();
        var hardskills = _hardskillService.GetAllDesHardskills();
        _hardskills = await hardskills;
        var taskCategorys = _hardskillService.GetAllDesCategorys();
        var categorys = await taskCategorys;

        foreach (var category in categorys)
        {
            var hardskillsOfCategory = _hardskillService.GetHardskillsOfCategory(category);
            _allCategorys.TryAdd(category, await hardskillsOfCategory);
        }
        _loadHardskills = true;
        StateHasChanged();
    }
    
    public async Task UpdateHardskills(string description)
    {
        _loadHardskills = false;
        StateHasChanged();
        Filter[1] = description;
        var hardskills = _hardskillService.GetAllDesHardskills();
        _hardskills = await hardskills;
        var taskCategorys = _hardskillService.GetAllDesCategorys();
        var categorys = await taskCategorys;

        foreach (var category in categorys)
        {
            var hardskillsOfCategory = _hardskillService.GetHardskillsOfCategory(category);
            _allCategorys.TryAdd(category, await hardskillsOfCategory);
        }
        _loadHardskills = true;
        StateHasChanged();
    }

    public void UpdateSoftskills()
    {
        _softskills = _basicDataService.GetAllSoftSkills();
        StateHasChanged();
    }
    
    public void UpdateSoftskills(string description)
    {
        _softskills = _basicDataService.GetAllSoftSkills();
        Filter[0] = description;
        StateHasChanged();
    }

    public void UpdateFields()
    {
        _fields = _basicDataService.GetAllFields();
        StateHasChanged();
    }

    public void UpdateFields(string description)
    {
        _fields = _basicDataService.GetAllFields();
        Filter[3] = description;
        StateHasChanged();
    }

    public void UpdateRoles()
    {
        _roles = _basicDataService.GetAllRoles();
        StateHasChanged();
    }
    
    public void UpdateRoles(string description)
    {
        _roles = _basicDataService.GetAllRoles();
        Filter[4] = description;
        StateHasChanged();
    }

    private bool IsVisible(string description, int index)
    {
        return string.IsNullOrEmpty(Filter[index]) || description.Contains(Filter[index], StringComparison.OrdinalIgnoreCase);
    }

    private bool InCategory(string hardskill)
    {
        if (string.IsNullOrEmpty(Filter[5]))
        {
            return true;
        }

        foreach (var category in _allCategorys.Keys)
        {
            if (category.Contains(Filter[5], StringComparison.OrdinalIgnoreCase) && _allCategorys[category].Contains(hardskill))
            {
                return true;
            }
        }

        return false;
    }

    private void Showing(int index)
    {
        _show[index] = !_show[index];
    }

    private void ShowingEditCat(string cat)
    {
        _showEditCat[cat] = !_showEditCat[cat];
    }

    private void ShowingSubCat(string cat)
    {
        _showSubCat[cat] = !_showSubCat[cat];
    }


    void ShowingUpperCat(string hardskill)
    {
        _showUpper[hardskill] = true;
    }

    void StopShowingUpperCat(string hardskill)
    {
        _showUpper[hardskill] = false;
    }

    void PopCreateBasicData(BasicDataType type)
    {
        Type = type;
        _createBasicData.Showing();
    }

    void PopEditBasicData(string description, BasicDataType type)
    {
        Type = type;
        Description = description;
        _editBasicData.Showing();
    }

    void PopDelete(string description, BasicDataType type)
    {
        Type = type;
        Description = description;
        _deleteConfirmation.Showing();
    }

    void PopCreateHardskill()
    {
        _createHardskill.Showing();
    }

    async Task PopEditHardskill(string description)
    {
        var hardskill = _hardskillService.GetHardskill(description);
        Hardskill = await hardskill;
        _editHardskill.Showing();
    }

    void PopCreateHardskillCat()
    {
        _createCat.Showing();
    }

}