@page "/EditTreeElement"
@using AVATI.Data
@using System.Runtime.CompilerServices
@using System.Collections.Generic
@using System.Drawing
@using DocumentFormat.OpenXml.Drawing.Diagrams
@using DocumentFormat.OpenXml.Presentation

@inject IHardskillService _hardskillService

<AddHardskills @ref="_addHardskills" Description="@_hardskills"/>
<DeleteConfirmation @ref="_deleteConfirmation" Description="@_delete" Type="@BasicDataType.HardSkill"/>

@if(!Hardskills.Any())
{
    <ul>
        @if(!ShowNew) {
            <li><button type="button" class="plus" @onclick="ShowingNew">+</button></li>
        } else {
            <li>
                <input type="text" id="softskill" @bind="_new"/>
                <button type="button" class="check inline" @onclick="CreateCat">&#10003;</button>
                <button type="button" class="stop inline" @onclick="ShowingNew">&#10005;</button>
                </li>
        }
    </ul>
} 
else if (_isRoot) 
{
    <div class="container">
        <ul class="tree">
            @foreach (var hardskillcat in Hardskills.Keys)
            {
                AddDictionary(hardskillcat);
                
                <li>
                    @if(!ShowRename[hardskillcat.Description])
                    {
                        <ContextMenu Id="@hardskillcat.Description">
                            @if (hardskillcat.IsHardskill) {
                                <Item OnClick="() => PopUpDelete(hardskillcat.Description)">Löschen <span class="oi oi-trash"></span></Item>
                            } else {
                                <Item OnClick="() => Delete(hardskillcat)">Löschen <span class="oi oi-trash"></span></Item>
                            }
                            <Item OnClick="() => ShowingRename(hardskillcat.Description)">Umbenennen <span class="oi oi-pencil"></span></Item>
                            @if (!hardskillcat.IsHardskill)
                            {
                                <Item OnClick="() => ShowingHardskills(hardskillcat.Description)">Hardskills hinzufügen/löschen</Item>
                            }
                        </ContextMenu>
                        <ContextMenuTrigger MenuId="@hardskillcat.Description">
                            <a class="@(hardskillcat.IsHardskill ? "hardskill":"cat")" type="button" @onclick="() => ShowingUnder(hardskillcat.Description)">@hardskillcat.Description</a>
                        </ContextMenuTrigger>
                    } else {
                        <input type="text" id="softskill" @bind="Rename[hardskillcat.Description]"/>
                        <button type="button" class="check inline" @onclick="() => Update(hardskillcat.Description)">&#10003;</button>
                        <button type="button" class="stop inline" @onclick="() => ShowingRename(hardskillcat.Description)">&#10005;</button>
                    }

                    @if (ShowUnder[hardskillcat.Description] && hardskillcat.Subcat != null)
                    {
                        <EditTreeElement Descriptions = "@hardskillcat.Subcat" Uppercat="@hardskillcat.Description" Abstract="@Abstract"/>
                    }
                </li>
            }
        </ul>
    </div>
}
else
{
    @if (!ShowNew)
    {
        <div class="between"><button type="button" class="plus" @onclick="ShowingNew">+</button></div>
        <ul>
            @foreach (var hardskillcat in Hardskills.Keys)
            {
                AddDictionary(hardskillcat);
                <li>
                    @if(!ShowRename[hardskillcat.Description])
                    {
                        <ContextMenu Id="@hardskillcat.Description">
                                @if (hardskillcat.IsHardskill) {
                                    <Item OnClick="() => PopUpDelete(hardskillcat.Description)">Löschen <span class="oi oi-trash"></span></Item>
                                } else {
                                    <Item OnClick="() => Delete(hardskillcat)">Löschen <span class="oi oi-trash"></span></Item>
                                }
                                <Item OnClick="() => ShowingRename(hardskillcat.Description)">Umbenennen <span class="oi oi-pencil"></span></Item>
                                @if (!hardskillcat.IsHardskill)
                                {
                                    <Item OnClick="() => ShowingHardskills(hardskillcat.Description)">Hardskills hinzufügen/löschen</Item>
                                }
                        </ContextMenu>    
                        <ContextMenuTrigger MenuId="@hardskillcat.Description">
                            <a class="@(hardskillcat.IsHardskill ? "hardskill":"cat")" type="button" @onclick="() => ShowingUnder(hardskillcat.Description)">@hardskillcat.Description</a>
                        </ContextMenuTrigger>
                    } else
                    {
                        <input type="text" id="softskill" @bind="Rename[hardskillcat.Description]"/>
                        <button type="button" class="check inline" @onclick="() => Update(hardskillcat.Description)">&#10003;</button>
                        <button type="button" class="stop inline" @onclick="() => ShowingRename(hardskillcat.Description)">&#10005;</button>
                    }
                    
                    @if (ShowUnder[hardskillcat.Description] && hardskillcat.Subcat != null)
                    {
                        <EditTreeElement Descriptions = "@hardskillcat.Subcat" Uppercat="@hardskillcat.Description" Abstract="@Abstract"/>
                    }
                </li>
            }
        </ul>
    } else {
        <ul>
            <li><input class="form-control col-4 inline" type="text" id="softskill" @bind="_new"/>
                <button type="button" class="check inline" @onclick="CreateCat">&#10003;</button>
                <button type="button" class="stop inline" @onclick="ShowingNew">&#10005;</button>
                <ul>
                    @foreach (var hardskillcat in Hardskills.Keys) {
                        
                        AddDictionary(hardskillcat);

                        <li><button class="@(IsInList(hardskillcat.Description) ? "btn btn-primary" : "btn btn-secondary")" type="button" @onclick="() => AddList(hardskillcat.Description)">
                                <a style="border: none !important;" class="@(IsInList(hardskillcat.Description) ? "showRemove" : "")">@hardskillcat.Description</a> <a class="remove"><span class="oi oi-x"></span></a>
                            </button>
                    
                            @if (ShowUnder[hardskillcat.Description] && hardskillcat.Subcat != null)
                            {
                                <EditTreeElement Descriptions = "@hardskillcat.Subcat" Uppercat="@hardskillcat.Description" Abstract="@Abstract"/>
                            }
                        </li>
                    }
                </ul>
            </li>
        </ul>
    }
    
}


@code {
    
    [Parameter]
    public BasicDataAbstract Abstract { get; set; }

    [Parameter]
    public List<string> Descriptions { get; set; }

    [Parameter]
    public string Uppercat { get; set; }

    private Dictionary<Hardskill, bool> Hardskills { get; set; } = new();

    public Dictionary<string, bool> ShowUnder { get; set; } = new();

    private Dictionary<string, bool> ShowRename { get; set; } = new();

    private Dictionary<string, string> Rename { get; set; } = new();

    private List<string> SubcatChoose { get; set; } = new();

    private bool ShowNew { get; set; } = false;

    private bool _isRoot = false;

    private string _new;

    private string _hardskills;

    private string _delete;

    AddHardskills _addHardskills;

    DeleteConfirmation _deleteConfirmation;

    protected override async Task OnParametersSetAsync()
    {
        if (Descriptions.Any())
        {
            var first = await _hardskillService.GetHardskillOrCategory(Descriptions[0]);
            if(first != null)
                _isRoot = first.IsRoot();
        }
        
        if (Hardskills == null) return;
        foreach (var skill in Descriptions)
        {
            var skillOrCat = await _hardskillService.GetHardskillOrCategory(skill);
            var containsHardskill = await _hardskillService.ContainsAnyHardskills(skill);
            Hardskills.Add(skillOrCat, containsHardskill);
            if (!Rename.ContainsKey(skill))
                Rename.Add(skill, skill);
        }
    }
    

    private void AddDictionary(Hardskill hardskillcat)
    {
        if (!ShowUnder.ContainsKey(hardskillcat.Description))
        {
            ShowUnder.Add(hardskillcat.Description, !Hardskills[hardskillcat]);
        }
                
        if (!ShowRename.ContainsKey(hardskillcat.Description))
        {
            ShowRename.Add(hardskillcat.Description, false);
        }
    }
    
    private void ShowingNew()
    {
        ShowNew = !ShowNew;
        SubcatChoose.Clear();
        if (Hardskills != null)
        {
            foreach (var hardskill in Descriptions)
            {
                ShowUnder[hardskill] = false;
            }
        }
    }

    private void ShowingRename(string hardskill)
    {
        ShowRename[hardskill] = !ShowRename[hardskill];
    }

    public void ShowingUnder(string hardskill)
    {
        ShowUnder[hardskill] = !ShowUnder[hardskill];
    }

    private void ShowingHardskills(string hardskillcat)
    {
        _hardskills = hardskillcat;
        _addHardskills.Showing();
    }

    private void PopUpDelete(string description)
    {
        _delete = description;
        _deleteConfirmation.Showing();
    }

    private bool IsInList(string description)
    {
        return SubcatChoose.Exists(x => x == description);
    }

    private void AddList(string hardskill)
    {
        if (SubcatChoose.Contains(hardskill))
            SubcatChoose.Remove(hardskill);
        else
            SubcatChoose.Add(hardskill);
        ShowingUnder(hardskill);
    }

    private async Task CreateCat()
    {
        Hardskill hardskillcat = new()
        {
            Description = _new,
            Uppercat = new List<string>(){Uppercat},
            Subcat = new List<string>(SubcatChoose),
            IsHardskill = false
        };
        SubcatChoose.Clear();
        await _hardskillService.CreateHardskillCategory(hardskillcat);
        await Abstract.UpdateLists();
        ShowingNew();
    }

    private async Task Delete(Hardskill hardskillcat)
    {
        await _hardskillService.DeleteHardskillCategory(hardskillcat.Description);
        await Abstract.UpdateLists();
    }

    private async Task Update(string oldDescription)
    {
        var oldHardskill = await _hardskillService.GetHardskillOrCategory(oldDescription);
        if (oldHardskill.IsHardskill)
        {
            var newHardskill = new Hardskill()
            {
                Description = Rename[oldDescription],
                Uppercat = oldHardskill.Uppercat,
                Subcat = null
            };
            await _hardskillService.UpdateHardskill(newHardskill, oldHardskill);
        }
        else
            await _hardskillService.UpdateHardskillCategory(oldDescription, Rename[oldDescription]);
        await Abstract.UpdateLists();
        ShowingRename(oldDescription);
    }

    //@bind:event="oninput" style="width: @((Rename[hardskillcat.Description].Length + 1) * 8)px !important;"
}