@using AVATI.Data

@inject IHardskillService _hardskillService

@if (Hardskill != null && Hardskill.Uppercat != null && Hardskill.Uppercat.Any())
{
    if (Hardskill.IsHardskill)
    {
        foreach (var upperCat in Hardskill.Uppercat)
        {
            <div style="color: #818181 !important;"><ShowUpperCat Description="@upperCat"/><a><b>@upperCat</b> &rarr; </a><a>@Hardskill.Description</a></div>
        }
    }
    else
    {
        <ShowUpperCat Description="@Hardskill.Uppercat[0]"/><a><b>@Hardskill.Uppercat[0]</b> &rarr; </a>
    }
} else if (Hardskill is {IsHardskill: true })
{
    <a style="color: #818181 !important;">Keine Kategorisierung</a>
}

@code {
    [Parameter]
    public string Description { get; set; }
    
    public Hardskill Hardskill { get; set; }

    /*private bool _loadPageFinished;

    protected override void OnInitialized()
    {
        _loadPageFinished = false;
    }*/

    protected override async Task OnParametersSetAsync()
    {
        Hardskill = await _hardskillService.GetHardskillOrCategory(Description);
        //_loadPageFinished = true;
    }

}