@page "/TreeElement"
@using AVATI.Data
@using System.Runtime.CompilerServices
@using System.Collections.Generic

@inject IHardskillService _hardskillService

@if (Hardskills[0].IsRoot())
    {
        <div class="container">
            <ul class="tree">
                @foreach (var hardskillcat in Hardskills) {
            
                    if (!Show.ContainsKey(hardskillcat.Description))
                    {
                        Show.Add(hardskillcat.Description, !hardskillcat.ContainsHardskills());
                    }
                
                    <li><a class="@(hardskillcat.IsHardskill ? "hardskill":"cat")" type="button" @onclick="() => Showing(hardskillcat.Description)">@hardskillcat.Description</a>
                    
                        @if (Show[hardskillcat.Description] && hardskillcat.Subcat != null && hardskillcat.Subcat.Any())
                        {
                            <TreeElement Hardskills = "@hardskillcat.Subcat"/>
                        }
                    </li>
                }
            </ul>
        </div>
    }
    else
    {
        <ul>
            @foreach (var hardskillcat in Hardskills) {
            
                if (!Show.ContainsKey(hardskillcat.Description))
                {
                    Show.Add(hardskillcat.Description, !hardskillcat.ContainsHardskills());
                }
                
                <li><a class="@(hardskillcat.IsHardskill ? "hardskill":"cat")" type="button" @onclick="() => Showing(hardskillcat.Description)">@hardskillcat.Description</a>
                    
                    @if (Show[hardskillcat.Description] && hardskillcat.Subcat != null && hardskillcat.Subcat.Any())
                    {
                        <TreeElement Hardskills = "@hardskillcat.Subcat"/>
                    }
                </li>
            
            }
        </ul>
        
}


@code {
    [Parameter]
    public List<Hardskill> Hardskills { get; set; }

    private Dictionary<string, bool> Show { get; set; } = new();

    private void Showing(string hardskill)
    {
        Show[hardskill] = !Show[hardskill];
    }

}