@using AVATI.Data
@using AVATI.Data.EmployeeDetailFiles
@using DocumentFormat.OpenXml.Drawing

@inject IProposalService _proposal
@inject IEmployeeService _employeeService
@inject IEmployeeDetailService _employeeDetailService

@if (ShowEdit)
{
    if (_tempEmp != null)
    {
        <div class="modal fade show d-block" data-bs-backdrop="static" id="exampleModal" role="dialog">
            <div class="modal-dialog" style="min-width: 1500px" role="document">
                <div class="modal-content bg-light text-black">
                    <div class="modal-header">
                        <h5 class="modal-title font-weight-bolder text-center" id="titleLabel">Detailansicht</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick=@Close> <!--only close, no reset-->
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container ml-3" style="min-width: 100%">
                            <div class="row justify-content-md-center mb-4">
                                <div class="card col-sm-4 text-black border-dark">
                                    <img src="https://www.geniale-tipps.de/images/t/whatsapp-profilbild-grau.jpg" class="card-img-top" alt=""/>
                                    <div class="card-body">
                                        <h5 class="card-title">@_employeeService.GetEmployeeProfile(EmpId).FirstName @_employeeService.GetEmployeeProfile(EmpId).LastName</h5>
                                        <div class="card-title text-left">
                                            @if (TempEmpDetail.RcVis(_employeeService.GetEmployeeProfile(EmpId).Rc))
                                            {
                                                <button class="btn btn-sm btn-outline-success" >@_employeeService.GetEmployeeProfile(EmpId).Rc</button>
                                            }
                                            else
                                            {
                                                <button class="btn btn-sm btn-outline-dark" >@_employeeService.GetEmployeeProfile(EmpId).Rc</button>
                                            }
                                        </div>
                                        <div class="card-text text-left">Branchen:</div>
                                        <div class="card-text text-left">
                                            @foreach (var field in _employeeService.GetEmployeeProfile(EmpId).Field)
                                                {
                                                    if (TempEmpDetail.FieldVis(field))
                                                    {
                                                        <button class="btn btn-sm btn-outline-success mb-1 mr-1" >@field</button>
                                                    }
                                                    else
                                                    {
                                                        <button class="btn btn-sm btn-outline-dark mb-1 mr-1" >@field</button>
                                                    }
                                                }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                <div class="row mb-3">
                                    <div class="card col-sm-8 border-secondary ml-3 mr-3">
                                        <div class="card-header text-left bg-transparent border-secondary">Hardskills</div>
                                        <div class="card-body text-left">
                                            @foreach (var hardSkill in _employeeService.GetEmployeeProfile(EmpId).Hardskills)
                                            {
                                                if (TempEmpDetail.HardVis(hardSkill))
                                                {
                                                    <button class="btn btn-sm btn-outline-success mb-1 mr-1">@hardSkill.Description</button>    
                                                }
                                                else
                                                {
                                                    <button class="btn btn-sm btn-outline-dark mb-1 mr-1">@hardSkill.Description</button>
                                                }
                                                
                                            }
                                        </div>
                                    </div>
                                    <div class="card border-secondary col-sm-3">
                                        <div class="card-header text-left bg-transparent border-secondary">Sprache(n)</div>
                                        <div class="card-body text-left">
                                            @foreach (var lang in _employeeService.GetEmployeeProfile(EmpId).Language)
                                            {
                                                if (TempEmpDetail.LanguageVis(lang.Item1))
                                                {
                                                    <button class="btn btn-sm btn-outline-success mb-1 mr-1">@lang.Item1</button>
                                                }
                                                else
                                                {
                                                    <button class="btn btn-sm btn-outline-dark mb-1 mr-1" >@lang.Item1</button>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                                    <div class="row">
                                        <div class="card border-secondary col-sm-8 ml-3 mr-3">
                                            <div class="card-header text-left bg-transparent border-secondary">Softskills</div>
                                            <div class="card-body text-left">
                                                @foreach (var softSkill in _employeeService.GetEmployeeProfile(EmpId).Softskills)
                                                {
                                                    if (TempEmpDetail.SoftVis(softSkill))
                                                    {
                                                        <button class="btn btn-sm btn-outline-success mb-1 mr-1" >@softSkill</button>
                                                    }
                                                    else
                                                    {
                                                        <button class="btn btn-sm btn-outline-dark mb-1 mr-1" >@softSkill</button>
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <div class="card border-secondary col-sm-3">
                                            <div class="card-header text-left bg-transparent border-secondary">Rolle(n)</div>
                                            <div class="card-body text-left">
                                                @foreach (var role in _employeeService.GetEmployeeProfile(EmpId).Roles)
                                                {
                                                    if (TempEmpDetail.RolesVis(role))
                                                    {
                                                        <button class="btn btn-sm btn-outline-success mb-1 mr-1" >@role</button>
                                                    }
                                                    else
                                                    {
                                                        <button class="btn btn-sm btn-outline-dark mb-1 mr-1" >@role</button>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" @onclick="@Close">Abbrechen</button>
                        <button class="btn btn-success" @onclick="@Close">Änderungen speichern</button>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        Console.WriteLine("Couldn't find employee");
    }
}

@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}

@code {
    [Parameter]
    public int EmpId { get; set; }
    public int PropId { get; set; }
    public Data.EmployeeDetailFiles.EmployeeDetail Detail;
    public Data.EmployeeDetailFiles.EmployeeDetail TempEmpDetail = new Data.EmployeeDetailFiles.EmployeeDetail();
    private Employee _tempEmp;
    private Employee _emp;
    public bool ShowEdit { get; set; }
    public bool ShowBackdrop { get; private set; }
    
    public void Show(int employeeId, int proposalId)
    {
        ShowEdit = !ShowEdit;
        ShowBackdrop = !ShowBackdrop;
        EmpId = employeeId;
        PropId = proposalId;
        if (_proposal.GetProposal(PropId) != null)
        {
            _tempEmp = _proposal.GetProposal(PropId).Employees.Find(e => e.EmployeeId == EmpId);
        }
        _emp = _employeeService.GetEmployeeProfile(EmpId);
        _employeeDetailService.UpdateEmployeeDetail(EmpId, PropId, new Data.EmployeeDetailFiles.EmployeeDetail()
        {
            Softskills = _emp.Softskills, Hardskills = _emp.Hardskills, Fields = _emp.Field, Languages = _emp.Language,
            Roles = _emp.Roles, Rc = _emp.Rc
        });
        Detail = _employeeDetailService.GetEmployeeDetail(EmpId, PropId);
        _copyDetail(Detail, TempEmpDetail);
        Console.WriteLine(EmpId.ToString() + PropId.ToString());
        StateHasChanged();
    }
    private void Close()
    {
        ShowEdit = !ShowEdit;
        ShowBackdrop = !ShowBackdrop;
        StateHasChanged();
    }
    protected override void OnInitialized()
    {
    
    }
    private void _copyDetail(Data.EmployeeDetailFiles.EmployeeDetail source, Data.EmployeeDetailFiles.EmployeeDetail target)
    {
        target.EmployeeId = source.EmployeeId;
        target.ProposalId = source.ProposalId;
        target.Rc = source.Rc;
        target.Softskills = new List<string>(source.Softskills);
        target.Hardskills = new List<Hardskill>(source.Hardskills);
        target.Fields = new List<string>(source.Fields);
        target.Roles = new List<string>(source.Roles);
        target.Languages = new List<Tuple<string, LanguageLevel>>(source.Languages);
    }
}